<a href="https://colab.research.google.com/github/saiganesh00/Python-Practice/blob/main/Python_Class_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **What is the output of following code ?**

In [1]:
i = 5
while True:
  if i % 0o11 == 0:
    break
  print(i)
  i += 1

5
6
7
8

In [2]:
i = 5
while True:
  if i % 0o9:
    break
  print(i)

SyntaxError: invalid digit '9' in octal literal (<ipython-input-2-31ea262b3335>, line 3)

### **What is the output ?**

In [ ]:
i = 1
while True:
  if i % 2 == 0:
    break
  print(i, end = " ")
  i += 2

# infinte loop

### **Predict the output of the following codes**

In [3]:
i = 1
while False:
  if i % 2 == 0:
    break
  print(i)
  i += 2

In [7]:
i = 0
while i < 5:
  print(i)
  i += 1
  if i == 3:
    break
  else:
    print(0)
else:
  print(0)

0
0
1
0
2

In [8]:
i = 0
while i < 3:
  print(i)
  i += 1
else:
  print(0)

0
1
2
0

In [9]:
x = "abcdef"
while i in x:
  print(i, end = " ")

TypeError: 'in <string>' requires string as left operand, not int

In [10]:
x = "abcdef"
for i in x:
  print(i, end = " ")

a b c d e f

In [12]:
x = "abcdef"
i = 0
n = len(x)
while i < n:
  print(x[i], end = " ")
  i += 1

a b c d e f

In [13]:
x = "abcdef"
i = "i"
while i in x:
  print(i, end = " ")

In [14]:
for i in x:
  print(i, end = " ")

a b c d e f

In [15]:
x = "abcd"

for i in range(len(x)):
  print(i.upper())
print(x)

AttributeError: 'int' object has no attribute 'upper'

In [16]:
x = "abcd"

for i in x:
  print(i.upper())
print(x)

A
B
C
D
abcd

In [18]:
x = "abcd"

for i in range(len(x)):
  x = "a"
  print(x)

a
a
a
a

In [19]:
x = "abcd"

for i in range(len(x)):
  print(x)
  x = "a"

abcd
a
a
a

In [20]:
x = 123
for i in x:
  print(i)

TypeError: 'int' object is not iterable

In [22]:
# By default dictonary will print keys

d = {0: 'a', 1: 'b', 2: 'c'}
for i in d:
  print(i)

0
1
2

In [23]:
print('"Once upon a time...",she said.')

"Once upon a time...",she said.

In [24]:
print("He said, 'Yes!'")

He said, 'Yes!'

In [25]:
str1 = "Hello"

In [26]:
str1[-1:]

'o'

In [27]:
str1[-1::-1]

'olleH'

In [29]:
a = "3\""
print(a)

3"

In [30]:
a = "3\\"
print(a)
print(len(a))

3\
2

In [31]:
print("new" "line")

newline

In [32]:
print("new""line")

newline

In [33]:
print("new""line", "shanmukh")

newline shanmukh

In [34]:
print("new"    "line")

newline

In [35]:
print("Hello"'Shanmukh')

HelloShanmukh

In [37]:
print(r"\nhello\nworld") # r --> raw string

\nhello\nworld

In [42]:
print(R"\n'hello\nworld") # R --> raw string

\n'hello\nworld

In [44]:
print(r"\"hello\nworld")

\"hello\nworld

In [43]:
0xA + 0xB + 0xC  # hexa decimal

33

In [48]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]
print(names1)
print(names2)
print(names3)
print()

names2[0] = 'Alice'
names3[1] = 'Bob'
print(names1)
print(names2)
print(names3)

sum = 0

for ls in (names1, names2, names3):
  if ls[0] == 'Alice':
    sum += 1
  if ls[1] == 'Bob':
    sum += 10
print(sum)

['Amir', 'Bear', 'Charlton', 'Daman']
['Amir', 'Bear', 'Charlton', 'Daman']
['Amir', 'Bear', 'Charlton', 'Daman']

['Alice', 'Bear', 'Charlton', 'Daman']
['Alice', 'Bear', 'Charlton', 'Daman']
['Amir', 'Bob', 'Charlton', 'Daman']
12

In [2]:
names1 = ['a', 'b', 'c', 'd']
names2 = ['e', 'f', 'g', 'h']
names3 = names1[::-1]

for ls in (names1, names2, names2):
  print(ls)
  print(type(ls))

['a', 'b', 'c', 'd']
<class 'list'>
['e', 'f', 'g', 'h']
<class 'list'>
['e', 'f', 'g', 'h']
<class 'list'>

In [3]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']

names2 = names1

names3 = names1[:]
print("Initialization Steps: ")

print("names 1: ", names1)
print(id(names1))
print("names 2: ", names2)
print(id(names2))
print("names 3: ", names3)
print(id(names3))

print("\n\nUpdating Step: ")
names2[0] = 'Alice'
names3[1] = 'Bob'
print("names 1: ", names1)
print(id(names1))
print("names 2: ", names2)
print(id(names2))
print("names 3: ", names3)
print(id(names3))

sum = 0
print("\n\nStarting Loops: ")
for ls in (names1, names2, names3):
     print("Ls inside loop: ", ls)
     if ls[0] == "Alice":
            sum+=1
     if ls[1] == "Bob":
            sum+=10
     print("sum inside loop : ", sum)

print(sum)

Initialization Steps:
names 1:  ['Amir', 'Bear', 'Charlton', 'Daman']
135460511070400
names 2:  ['Amir', 'Bear', 'Charlton', 'Daman']
135460511070400
names 3:  ['Amir', 'Bear', 'Charlton', 'Daman']
135460511416832


Updating Step:
names 1:  ['Alice', 'Bear', 'Charlton', 'Daman']
135460511070400
names 2:  ['Alice', 'Bear', 'Charlton', 'Daman']
135460511070400
names 3:  ['Amir', 'Bob', 'Charlton', 'Daman']
135460511416832


Starting Loops:
Ls inside loop:  ['Alice', 'Bear', 'Charlton', 'Daman']
sum inside loop :  1
Ls inside loop:  ['Alice', 'Bear', 'Charlton', 'Daman']
sum inside loop :  2
Ls inside loop:  ['Amir', 'Bob', 'Charlton', 'Daman']
sum inside loop :  12
12

### **What will be the output of following code ?**

In [4]:
names1 = ["Venky", "Vicky", "RBR"]
names1[-1][-2]

'B'

### **clear() method is used to delete the dictonary. True/False**
- **Ans: False**

In [5]:
d = {'a': 1, 'b': 2}
print(d)

{'a': 1, 'b': 2}

In [6]:
d.clear()

In [7]:
print(d)

{}

### **Which of the following operation is invalid ?**

In [8]:
(1, 2) + (12, 24)

(1, 2, 12, 24)

In [9]:
(1, 2) + (24)

TypeError: can only concatenate tuple (not "int") to tuple

In [10]:
(1, 2) + (24, )

(1, 2, 24)

In [11]:
(1, 2) + tuple([12, 24])

(1, 2, 12, 24)

In [12]:
(1, 2) + tuple([12, ])

(1, 2, 12)

In [13]:
(1, 2) + [12, 24]

TypeError: can only concatenate tuple (not "list") to tuple

### **Which of the following operation is invalid ?**

In [15]:
a_b_c = 1,000,000
print(a_b_c)
print(type(a_b_c))

(1, 0, 0)
<class 'tuple'>

In [16]:
abc = 1000,000,000
print(abc)
print(type(abc))

(1000, 0, 0)
<class 'tuple'>

In [17]:
a b c = 1000,000,000

SyntaxError: invalid syntax (<ipython-input-17-c3d1cd6766dc>, line 1)

In [19]:
a, b, c = 1000,000,000
print(a, b, c)

1000 0 0

In [20]:
a, b, c = (1000, 2000, 3000)
print(a, b, c)

1000 2000 3000

In [21]:
a, b, c = 1000, 2000, 3000
print(a, b, c)

1000 2000 3000

In [22]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

In [23]:
a, b, c = 1, 2

ValueError: not enough values to unpack (expected 3, got 2)

In [27]:
a, *b = 1, 2, 3

In [28]:
print(a)
print(b)

1
[2, 3]

In [25]:
*a, b = 1, 2, 3

In [29]:
print(a)
print(b)

1
[2, 3]

In [30]:
*a, *b, c = 1, 2, 3, 4, 5

SyntaxError: multiple starred expressions in assignment (<ipython-input-30-9b3882c9c831>, line 1)

In [31]:
t1 = (23, 24, 25, 5, 6, 5)

t1[0] + t1.index(5)

26

In [32]:
t1.index(5)

3

In [33]:
l = [23,24,25,5,6,5]
l.index(5)

3

In [34]:
s = "shanmukh123456"
s.index("5")

12

In [35]:
s.rindex("5")

12

In [36]:
l.rindex(5)

AttributeError: 'list' object has no attribute 'rindex'