<a href="https://colab.research.google.com/github/saiganesh00/Python-Practice/blob/main/Python_Class_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Lambda Functions:**
- **Lambda functions are anonymous functions means the function is without a name**
- **lambda args: expression**

In [7]:
def add(a,b):
    return a+b

In [8]:
add(5,6)

11

In [9]:
type(add)

function

In [12]:
add_lam = lambda a,b : a+b

In [13]:
type(add_lam)

function

In [14]:
add_lam(5,6)

11

In [15]:
def cube(a):
    return a**3

In [16]:
print(cube(5))

125

In [17]:
cube_lam = lambda a : a**3

In [18]:
print(cube_lam(5))

125

In [19]:
add = lambda a, b, c : a+b+c
sub = lambda a, b, c : a-b-c

In [20]:
print(add(10,20,30))
print(sub(10,20,30))

60
-40

In [21]:
def add(a,b):
    return a+b

def sum(a,b):
    return add(a,b)

In [22]:
print(sum(10,20))

30

In [23]:
add = lambda a,b : a+b
sum = lambda a,b : add(a,b)

In [24]:
print(sum(10,20))

30

In [25]:
def f():
  print(x)

x = 10

a = f()
print(a)
print(type(a))

10
None
<class 'NoneType'>

In [26]:
f2 = lambda : x

type(f2)

function

In [27]:
b = f2()
print(b)
print(type(b))

10
<class 'int'>

In [28]:
f3 = lambda : print(x)

type(f3)

function

In [29]:
c = f3()

print(c)
print(type(c))

10
None
<class 'NoneType'>

In [30]:
lf1 = lambda : 10

lf2 = lambda : print(10)

In [33]:
def f1(): # lf1
  return 10

def f2(): # lf2
  print(10 )

In [34]:
print(type(lf1))
print(type(lf2))

<class 'function'>
<class 'function'>

In [35]:
a = lf1()
print(a)
print(type(a))

10
<class 'int'>

In [36]:
def my_func(n):
  return lambda a : a * n

mydoubler = my_func(2)
mytripler = my_func(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [37]:
a = lambda x: lambda y: x+y

In [38]:
print(type(a))

<class 'function'>

In [39]:
a(10)(20)

30

In [40]:
a(10)

In [41]:
output = a(10)

output(20)

30

### **Filter Function**

In [44]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def is_A_student(score):
    return score > 75

grade_A = list(filter(is_A_student, scores))

In [45]:
print(grade_A)

[90, 76, 88, 81]

In [46]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

grade_A = list(filter(lambda score : score > 75, scores))
print(grade_A)

[90, 76, 88, 81]

In [51]:
def is_prime(x):
    if x < 2:
        return False
    for i in range(2, x):
        if x % i == 0:
            return False
    else:
        return True

li = [i for i in range(100)]
prime_list = list(filter(is_prime, li))
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [52]:
def is_prime(x):
    if x < 2:
        return False
    for i in range(2, int(x ** 0.5)):
        if x % i == 0:
            return False
    else:
        return True

li = [i for i in range(1, 100)]
prime_list = list(filter(is_prime, li))
print(prime_list)

[2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 15, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [53]:
li = [i for i in range(1, 100)]

prime_list = list(filter(lambda x: all(x % i != 0 for i in range(2, int(x ** 0.5)) if x % i == 0), li))
print(prime_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13, 15, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [50]:
li = [i for i in range(100)]


even_list = list(filter(lambda x: x % 2 == 0, li))
print(even_list)
odd_list = list(filter(lambda x: x % 2 != 0, li))
print(odd_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [69]:
def my_func(a):
  if a > 18:
    return False

numbers = [1,2,9,12,18,20,25,40,50]

filtered_numbers = list(filter(my_func, numbers))

print(filtered_numbers)

[]

In [62]:
a = my_func(2)

In [63]:
print(a)

None

In [64]:
bool(None)

False

In [65]:
def my_func(a):
  if a > 18:
    return False
  else:
    return a + 12

numbers = [1,2,9,12,18,20,25,40,50]

filtered_numbers = list(filter(my_func, numbers))

print(filtered_numbers)

[1, 2, 9, 12, 18]

In [67]:
def my_func(a):
  if a > 18:
    return False
  else:
    return a - 12

numbers = [1,2,9,12,18,20,25,40,50]

filtered_numbers = list(filter(my_func, numbers))

print(filtered_numbers)

[1, 2, 9, 18]

In [68]:
bool(-2)

True

### **Map Function**
- **map(function, iterable)**

In [70]:
def my_func(a):
  if a > 18:
    return False

numbers = [1,2,9,12,18,20,25,40,50]

filtered_numbers = list(map(my_func, numbers))

print(filtered_numbers)

[None, None, None, None, None, False, False, False, False]

In [73]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

def is_A_student(score):
    return score > 75

grade_A = list(map(is_A_student, scores))

In [74]:
print(grade_A)

[False, True, False, False, True, False, True, False, True, False]

In [75]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

grade_A = list(map(lambda score : score > 75, scores))
print(grade_A)

[False, True, False, False, True, False, True, False, True, False]

In [76]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

grade_A = list(map(lambda score : score + 2, scores))
print(grade_A)

[68, 92, 70, 61, 78, 62, 90, 76, 83, 67]

In [78]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]
print(scores)
grade_A = list(map(lambda score : score + 2 if score > 70 else score, scores))
print(grade_A)

[66, 90, 68, 59, 76, 60, 88, 74, 81, 65]
[66, 92, 68, 59, 78, 60, 90, 76, 83, 65]

### **Problem Solving**

In [86]:
def statement(msg, times = 1):
  print(msg * times)

statement("Hello")
statement("World", 5)

Hello
WorldWorldWorldWorldWorld

In [89]:
x = 50
def func():
    print('x is', x)
    x = 2
    print('Changed local x to', x)

func()
print('x is still', x)

UnboundLocalError: local variable 'x' referenced before assignment

In [90]:
x = 50
def func():
    global x
    print('x is', x)
    x = 2
    print('Changed local x to', x)

func()
print('x is still', x)

x is 50
Changed local x to 2
x is still 2

In [91]:
def a(b):
  print(b)
  print("id of b before adding 5 : ", id(b))
  b = b + [5] # create a new list
  print(b)
  print("id of b after adding 5 : ", id(b))


c = [1,2,3,4]
print(c)
print("id c : -->", id(c))
a(c)
print(c)
print(len(c))

[1, 2, 3, 4]
id c : --> 137318515134784
[1, 2, 3, 4]
id of b before adding 5 :  137318515134784
[1, 2, 3, 4, 5]
id of b after adding 5 :  137318514772416
[1, 2, 3, 4]
4

In [92]:
def func(a, b = 5, c = 10):
  print('a is', a, 'and b is', b, 'and c is', c)

func(3, 7)
func(25, c = 24)
func(c = 50, a = 100)

a is 3 and b is 7 and c is 10
a is 25 and b is 5 and c is 24
a is 100 and b is 5 and c is 50

In [93]:
 i = 0
 def change(i):
   i = i + 1
   return i
 change(1)
 print(i)

0

In [95]:
def func(li):
  li = li + [5]
  print("list inside function: ", li)

li = [1,2,3,4]
print("list before function call: ", li)
func(li)
print("list after function call: ", li)

list before function call:  [1, 2, 3, 4]
list inside function:  [1, 2, 3, 4, 5]
list after function call:  [1, 2, 3, 4]

In [97]:
def func(li):
  li.append(5)
  print("list inside function: ", li)

li = [1,2,3,4]
print("list before function call: ", li)
func(li)
print("list after function call: ", li)

list before function call:  [1, 2, 3, 4]
list inside function:  [1, 2, 3, 4, 5]
list after function call:  [1, 2, 3, 4, 5]

In [98]:
a = 10
b = 20
def func():
  global a
  a = 30
  global b
  b = 40

func()
print(a)
print(b)

30
40

In [99]:
def change(i = 1, j = 2):
  i = i + i
  j = j + 1
  print(i, j)
change(j = 1, i = 2)

4 2

In [101]:
def change(one, *two):
  print(one)
  print(type(one))
  print(two)
  print(type(two))

change(1,2,3,4)

1
<class 'int'>
(2, 3, 4)
<class 'tuple'>

In [103]:
def func(k):
  k[0] = 1
  print(k)

q = [2,3,4]
print(q)
func(q)
print(q)

[2, 3, 4]
[1, 3, 4]
[1, 3, 4]

In [104]:
def func():
  return total + 1

total = 0
print(func())

1

In [105]:
def func(i, x = []):
  x.append(i)
  return x

for i in range(3):
  print(func(i))

[0]
[0, 1]
[0, 1, 2]