<a href="https://colab.research.google.com/github/saiganesh00/Python-Practice/blob/main/Python_Class_17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Functions**
- **A function is a reusable block of code that performs a specific task**
- **Syntax:**
  - **def functione_name(arguments):**
       - **Body of the function**
       - **return expression**

In [6]:
f = 10
if f % 2 == 0:
  print("abc")
  print(123)
  print(1 + 2 + 3)
  print("ab"+"bc"+"ca")
else:
  print("cba")
  print(321)
  print(3 - 2 - 1)
  print("ab"*5)

abc
123
6
abbcca

In [7]:
def condition_checker(f):
  if f % 2 == 0:
    print("abc")
    print(123)
    print(1 + 2 + 3)
    print("ab"+"bc"+"ca")
  else:
    print("cba")
    print(321)
    print(3 - 2 - 1)
    print("ab"*5)

In [8]:
condition_checker(10)

abc
123
6
abbcca

In [5]:
condition_checker(15)

cba
321
0
ababababab

In [9]:
def intro_to_python():
  pass

def teach_datatypes():
  pass

def teach_functions():
  pass

def teach_python():
  a = intro_to_python()
  b = teach_datatypes()
  c = teach_functions()

In [10]:
# defining a function

def python_function():
  print("Welcome to Functions class")
  l = [100,200,300,400]
  return l

# calling a function

func_return = python_function()
print(func_return)
print(type(func_return))

Welcome to Functions class
[100, 200, 300, 400]
<class 'list'>

In [11]:
def func_name(name):
  print("Name: ", name)
  return name * 10

val = func_name("Virat")
print(val)
print(type(val))

Name:  Virat
ViratViratViratViratViratViratViratViratViratVirat
<class 'str'>

In [12]:
# passing the arguments to the functions

def f_name(name):
  print("Entered Name : {}".format(name))
  return name*2

ret_val = f_name("Virat")
print(ret_val)
print(type(ret_val))

Entered Name : Virat
ViratVirat
<class 'str'>

In [13]:
def f_name(name):
  print("Entered Name : {}".format(name))
  return name*2

ret_val = f_name([1,2,3])
print(ret_val)
print(type(ret_val))

Entered Name : [1, 2, 3]
[1, 2, 3, 1, 2, 3]
<class 'list'>

In [15]:
def sub_calculator(num):
  print("Entered Num : {}".format(num))
  a = 100
  print("abc")
  print(num*5)
  print(num+"5")
  return a-int(num)

ret_val = sub_calculator("50")
print(ret_val)
print(type(ret_val))

Entered Num : 50
abc
5050505050
505
50
<class 'int'>

In [16]:
def sub_calculator(num):
  print("Entered Num : {}".format(num))
  a = 100
  print("abc")
  print(num*5)
  print(num+"5")
  return a-num

ret_val = sub_calculator("50")
print(ret_val)
print(type(ret_val))

Entered Num : 50
abc
5050505050
505

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [17]:
def f_name(name):
  print("Entered Name : {}".format(name))
  return name*2

ret_val = f_name()
print(ret_val)
print(type(ret_val))

TypeError: f_name() missing 1 required positional argument: 'name'

In [18]:
def info_data(name, age, occupation):
  print("Name: {}".format(name))
  print("Age: {}".format(age))
  print("Occupation: {}".format(occupation))

ret_val = info_data("Venky", 26, "ML Engineer")
print(ret_val)
print(type(ret_val))

Name: Venky
Age: 26
Occupation: ML Engineer
None
<class 'NoneType'>

In [20]:
def info_data(name, age, occupation):
  print("Name: {}".format(name))
  print("Age: {}".format(age))
  print("Occupation: {}".format(occupation))

ret_val = info_data(26, "ML Engineer", [12,23])
print(ret_val)
print(type(ret_val))

Name: 26
Age: ML Engineer
Occupation: [12, 23]
None
<class 'NoneType'>

In [19]:
# to pass any number of arguments, number of arguments is unknown

def string_concatenation(*s):
  print(s)
  print(type(s))

string_concatenation("a", "b", "c")

('a', 'b', 'c')
<class 'tuple'>

In [21]:
def string_concatenation(*s):
  print(s)
  print(type(s))

string_concatenation("a")

('a',)
<class 'tuple'>

In [22]:
def string_concatenation(*s):
  print(s)
  print(type(s))

string_concatenation("")

('',)
<class 'tuple'>

In [23]:
def string_concatenation(*s):
  print(s)
  print(type(s))

string_concatenation(" ")

(' ',)
<class 'tuple'>

In [24]:
def string_concatenation(*s): # *args , *name
  print(s)
  print(type(s))

string_concatenation()

()
<class 'tuple'>

In [25]:
def string_concatenation(*s): # *args , *name
  print(s)
  print(type(s))

string_concatenation("a", "b", "c", 12,12.5,False, [1,2,3], (2,3,4), {2,3,4}, {1:2,2:3})

('a', 'b', 'c', 12, 12.5, False, [1, 2, 3], (2, 3, 4), {2, 3, 4}, {1: 2, 2: 3})
<class 'tuple'>

In [27]:
# Positional Arguments

# keyword arguments

def info_data(name, age, occupation):
  print("Name: {}".format(name))
  print("Age: {}".format(age))
  print("Occupation: {}".format(occupation))

ret_val = info_data("Venky", 26, "ML Engineer")

Name: Venky
Age: 26
Occupation: ML Engineer

In [28]:
# keyword arguments

def info_data(name, age, occupation):
  print("Name: {}".format(name))
  print("Age: {}".format(age))
  print("Occupation: {}".format(occupation))

ret_val = info_data(occupation = "ML Engineer", name = "Venky", age = 26)

Name: Venky
Age: 26
Occupation: ML Engineer

In [29]:
ret_val = info_data(occupation = "ML Engineer", name_2 = "Venky", age = 26)

TypeError: info_data() got an unexpected keyword argument 'name_2'

In [30]:
# let say we don't know how many keyword arguments were there, i.e keyword arguments is unknown

def info_data(**k): # **kwargs, **knames
  print(k)
  print(type(k))

info_data(name = "Venky", occupation = "ML Engineer", age = 26)

{'name': 'Venky', 'occupation': 'ML Engineer', 'age': 26}
<class 'dict'>

In [31]:
def info_data(**k):
  print(k)
  print(type(k))

info_data(name = "Venky", occupation = "ML Engineer", age = 26, teaching_subjects = ['Calculus', 'Python', 'Aptitude'])

{'name': 'Venky', 'occupation': 'ML Engineer', 'age': 26, 'teaching_subjects': ['Calculus', 'Python', 'Aptitude']}
<class 'dict'>

In [32]:
info_data("Venky", "ML Engineer", 26,['Calculus', 'Python', 'Aptitude'])

TypeError: info_data() takes 0 positional arguments but 4 were given

In [35]:
# default parameter value

def my_info(country="India"):
  print("I'm from {}".format(country))
  return "-------------------"
print(my_info())
print(my_info("Russia"))

I'm from India
-------------------
I'm from Russia
-------------------

In [39]:
def my_info(country="India", name = "Srinivas"):
  print("I'm {} and I'm from {}".format(name, country))

my_info()

I'm Srinivas and I'm from India

In [40]:
my_info(name = "Shanmukh", country = "US")

I'm Shanmukh and I'm from US

In [41]:
my_info("Shanmukh", "US")

I'm US and I'm from Shanmukh

In [42]:
# pass statements

def func(*args):
  pass

func()

### **Positional Only Arguments**

In [43]:
def my_func(a):
  print(a)

my_func(3)

3

In [44]:
my_func(a = 3)

3

In [45]:
# add ",/" after the positional arguments to indicate the function takes only positional arguments

def my_func(a,/):
  print(a)

my_func(3)

3

In [46]:
my_func(a = 3)

TypeError: my_func() got some positional-only arguments passed as keyword arguments: 'a'

### **Keyword Only Arguments**

In [47]:
def my_func(*, x):
  print(x)

In [48]:
my_func(4)

TypeError: my_func() takes 0 positional arguments but 1 was given

In [49]:
my_func(x = 4)

4

In [50]:
def my_function(*, x, y):
  print(x)
  print(y)
  return

In [51]:
my_function(x = 4, y = 5)

4
5

In [52]:
my_function(4, 5)

TypeError: my_function() takes 0 positional arguments but 2 were given

In [53]:

# combining positional only arguments and keyword only arguments

def pos_key_func(a,b,/,*,c,d):
  print("Values of a {} b {} c {} d {}".format(a,b,c,d))

In [54]:
pos_key_func(1, 2, c = 3, d = 4)

Values of a 1 b 2 c 3 d 4

In [55]:
pos_key_func(1, 2, 3, 4)

TypeError: pos_key_func() takes 2 positional arguments but 4 were given

In [56]:
pos_key_func(a = 1, b = 2, c = 3, d = 4)

TypeError: pos_key_func() got some positional-only arguments passed as keyword arguments: 'a, b'

In [59]:
def my_func(*s, **k):
  print(s)
  print(type(s))
  print(k)
  print(type(k))

In [60]:
my_func(1.5,1,True, [1,2,3],(1,2,3),{1,2,3}, name = "Venky", age = 26, occupation = "Teaching")

(1.5, 1, True, [1, 2, 3], (1, 2, 3), {1, 2, 3})
<class 'tuple'>
{'name': 'Venky', 'age': 26, 'occupation': 'Teaching'}
<class 'dict'>

In [63]:
# docstring

def pythonOperators(a,b):
  """
  Description: This function prints basic python operations like addtion, sub, mul and remainder operators
  Inputs: a, b
  Returns: None
  """
  print("Addition: {}".format(a+b))
  print("Sub: {}".format(a-b))
  print("Mul: {}".format(a*b))
  print("Remainder: {}".format(a%b))
  print("Div: {}".format(a/b))

In [64]:
pythonOperators(15, 5)

Addition: 20
Sub: 10
Mul: 75
Remainder: 0
Div: 3.0

In [65]:
help(pythonOperators)

Help on function pythonOperators in module __main__:

pythonOperators(a, b)
    Description: This function prints basic python operations like addtion, sub, mul and remainder operators
    Inputs: a, b
    Returns: None

### **Passing variables to the function**

In [67]:
def my_func(a):
  print("Inside Function")
  print(a)
  print(type(a))
  print(id(a))
  print("Returning the value of a")
  return a

b = 100
print(b)
print(id(b))
c = my_func(b)
print(c)
print(id(c))

100
138495302274384
Inside Function
100
<class 'int'>
138495302274384
Returning the value of a
100
138495302274384

In [68]:
def myFunc(a): # a = b
  print("Inside Function")
  print("a: {}, id: {}".format(a, id(a)))
  a += 120
  print("a: {}, id: {}".format(a, id(a)))
  print("Returning From Function")
  return a

b = 100
print("b: {}, id: {}".format(b, id(b)))
c = myFunc(b) # c = a
print("c: {}, id: {}".format(c, id(c)))
print("b: {}, id: {}".format(b, id(b)))

b: 100, id: 138495302274384
Inside Function
a: 100, id: 138495302274384
a: 220, id: 138495302278224
Returning From Function
c: 220, id: 138495302278224
b: 100, id: 138495302274384

In [69]:
def myFunc(a): # a = b
  print("Inside Function")
  print("a: {}, id: {}".format(a,id(a)))
  a[2] = 2000000
  print("a: {}, id: {}".format(a,id(a)))
  print("Returning From Function")
  return a

b = [10,20,30,40]
print("b: {}, id: {}".format(b,id(b)))
c = myFunc(b) # c = a
print("c: {}, id: {}".format(c,id(c)))
print("b: {}, id: {}".format(b,id(b)))

b: [10, 20, 30, 40], id: 138494018109696
Inside Function
a: [10, 20, 30, 40], id: 138494018109696
a: [10, 20, 2000000, 40], id: 138494018109696
Returning From Function
c: [10, 20, 2000000, 40], id: 138494018109696
b: [10, 20, 2000000, 40], id: 138494018109696

In [70]:
a = 100
print(a)
print(id(a))

a += 50
print(a)
print(id(a))

100
138495302274384
150
138495302275984

In [71]:
def myfun(a):
  print("Before variable update in function: {}".format(a))
  a = 100
  print("Inside Function: {}".format(a))

a = 200
print("Before calling function: {}".format(a))
myfun(a)
print("After calling function, Outside the function: {}".format(a))

Before calling function: 200
Before variable update in function: 200
Inside Function: 100
After calling function, Outside the function: 200

In [72]:
def myfun(_c):
  print("Before variable update in function: {}".format(_c))
  _c = 100
  print("Inside Function: {}".format(_c))

b = 200
print("Before calling function: {}".format(b))
myfun(b)
print("After calling function, Outside the function: {}".format(_c))

Before calling function: 200
Before variable update in function: 200
Inside Function: 100

NameError: name '_c' is not defined

In [74]:
def myfunc(a):
  a = 2457
  print("ID Inside function: {}".format(id(a)))

a = 2457
myfunc(a)
print("ID Outside function: {}".format(id(a)))

ID Inside function: 138494019314544
ID Outside function: 138494019313328

In [75]:
def myfunc(a):
  a = [1, 2, 3, 4, 5]
  print("ID Inside function: {}".format(id(a)))

a = [1, 2, 3, 4, 5]
myfunc(a)
print("ID Outside function: {}".format(id(a)))

ID Inside function: 138494892028672
ID Outside function: 138494018185024

In [76]:
a = 2457
b = 2457

print(id(a))
print(id(b))

138494019320784
138494019313040

In [78]:
def func():
  a = [1, 2, 3]
  b = [1, 2, 3]
  print(id(a))
  print(id(b))

func()

138494016537984
138495296745856

In [79]:
def func():
  a = 2457
  b = 2457
  print(id(a))
  print(id(b))

func()

138494019319440
138494019319440

In [81]:
def func():
  a = 24890000000
  b = 24890000000
  print(id(a))
  print(id(b))

func()

138494019321392
138494019321392

In [82]:
a = 24890000000
b = 24890000000
print(id(a))
print(id(b))

138494019315760
138494019316976

In [83]:
def func(a):
  a = list(a)
  a[0] = 100  # scope of this variable a is limited to this particular function, outside the function if you call this variable, u will get error
  return tuple(a)

b = (10,20,30)
c = func(b)
print(b)
print(c)

(10, 20, 30)
(100, 20, 30)