<a href="https://colab.research.google.com/github/saiganesh00/Python-Practice/blob/main/Python_Class_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Recursion Continued**

In [5]:
def get_fibanocii(num):
  if num == 0:
    return 0
  elif num == 1:
    return 1
  else:
    return get_fibanocii(num-1) + get_fibanocii(num-2)

In [7]:
for i in range(10):
  print(get_fibanocii(i), end = " ")

0 1 1 2 3 5 8 13 21 34

In [8]:
def find_factorial(num):
  if num == 0:
    return 1
  else:
    return num * find_factorial(num-1)

In [9]:
for i in range(10):
  print(find_factorial(i), end = " ")

1 1 2 6 24 120 720 5040 40320 362880

In [10]:
def find_power(base, power):
  if power == 0:
    return 1
  else:
    return base * find_power(base, power-1)

In [11]:
for i in range(10):
  print(find_power(2, i), end = " ")

1 2 4 8 16 32 64 128 256 512

In [12]:
def find_sum(num):
  if num == 0:
    return 0
  else:
    return num + find_sum(num-1)

In [13]:
for i in range(10):
  print(find_sum(i), end = " ")

0 1 3 6 10 15 21 28 36 45

In [14]:
def find_product(num):
  if num == 0:
    return 1
  else:
    return num * find_product(num-1)

In [15]:
for i in range(10):
  print(find_product(i), end = " ")

1 1 2 6 24 120 720 5040 40320 362880

In [16]:
def find_max(arr, n):
  if n == 1:
    return arr[0]
  else:
    return max(arr[n-1], find_max(arr, n-1))

In [17]:
l = [1,2,3,4,5,6,7,8,9,10]
print(find_max(l, len(l)))

10

In [18]:
def find_min(arr, n):
  if n == 1:
    return arr[0]
  else:
    return min(arr[n-1], find_min(arr, n-1))

In [20]:
l = [1,2,3,4,5,6,7,8,9,10]
print(find_min(l, len(l)))

1

In [21]:
def find_sum_of_digits(num):
  if num == 0:
    return 0
  else:
    return num%10 + find_sum_of_digits(num//10)

In [23]:
for i in range(100):
  print(find_sum_of_digits(i), end = " ")

0 1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 10 2 3 4 5 6 7 8 9 10 11 3 4 5 6 7 8 9 10 11 12 4 5 6 7 8 9 10 11 12 13 5 6 7 8 9 10 11 12 13 14 6 7 8 9 10 11 12 13 14 15 7 8 9 10 11 12 13 14 15 16 8 9 10 11 12 13 14 15 16 17 9 10 11 12 13 14 15 16 17 18

In [24]:
def find_reverse(num):
  if num == 0:
    return 0
  else:
    return num%10 + find_reverse(num//10)*10

In [25]:
print(find_reverse(12345))

12345

### **GATE:**

In [36]:
def count(child_dict, i):
  print("Value of i: ", i)
  if i not in child_dict.keys():
    print("Key not found")
    return 1
  ans = 1
  print("Child: ", child_dict[i])
  print("Ans: ", ans)
  for j in child_dict[i]:
    ans += count(child_dict, j)
  print("Ans: ", ans)
  return ans

In [37]:
child_dict = {}
child_dict[0] = [1, 2]
child_dict[1] = [3, 4, 5]
child_dict[2] = [6, 7, 8]
# child_dict[3] = [8, 9, 10]
# child_dict[4] = [11, 12]
print(count(child_dict, 0))

Value of i:  0
Child:  [1, 2]
Ans:  1
Value of i:  1
Child:  [3, 4, 5]
Ans:  1
Value of i:  3
Key not found
Value of i:  4
Key not found
Value of i:  5
Key not found
Ans:  4
Value of i:  2
Child:  [6, 7, 8]
Ans:  1
Value of i:  6
Key not found
Value of i:  7
Key not found
Value of i:  8
Key not found
Ans:  4
Ans:  9
9

In [39]:
# Consider the following Python function:
def fun(D, s1, s2):
 if s1 < s2:
  D[s1], D[s2] = D[s2], D[s1]
  fun(D, s1+1, s2-1)

d = [100, 200, 5, 6, 1000, 1, 10000, 12, 500]
print(d)

fun(d, 2, 5)
print(d)

[100, 200, 5, 6, 1000, 1, 10000, 12, 500]
[100, 200, 1, 1000, 6, 5, 10000, 12, 500]

In [40]:
def recur_func(a, b, c):
  if a >= b and c < b:
    return b
  elif a >= b:
    return recur_func(a, c, b)
  else:
    return recur_func(b, a, c)

In [41]:
print(recur_func(1, 2, 3))

2

In [42]:
print(recur_func(2, 1, 3))

2

In [44]:
print(recur_func(3, 1, 2))

2

In [45]:
print(recur_func(20, 10, 130))

20

In [46]:
print(recur_func(10, 20, 30))

20

In [49]:
def myFun(n, sum):
  k = j = 0
  if n>0:
    k = n%10
    j = n//10
    sum = sum+k
    myFun(j, sum)
    print(k)

a = 2048
sum = 0
myFun(a, sum)
print(sum)

2
0
4
8
0