<a href="https://colab.research.google.com/github/saiganesh00/Python-Practice/blob/main/Python_Class_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Tuple Operations**

In [ ]:
# initialize a tuple

t = ()
print(t)
print(type(t))

()
<class 'tuple'>

In [ ]:
t = tuple()
print(t)
print(type(t))

()
<class 'tuple'>

In [ ]:
t = tuple()
print(t)
print(type(t))

t = tuple(())
print(t)
print(type(t))

t = tuple("")
print(t)
print(type(t))

()
<class 'tuple'>
()
<class 'tuple'>
()
<class 'tuple'>

In [ ]:
t = tuple(" ")
print(t)
print(type(t))

(' ',)
<class 'tuple'>

In [ ]:
t1 = (1)
t2 = 1
t3 = 1,
t4 = (1, )


print(t1)
print(type(t1))
print(t2)
print(type(t2))
print(t3)
print(type(t3))
print(t4)
print(type(t4))

1
<class 'int'>
1
<class 'int'>
(1,)
<class 'tuple'>
(1,)
<class 'tuple'>

In [ ]:
# Tuple Packing: Process of combining multiple values in a single tuple

a = 1, 2, 3, 4
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [ ]:
# Tuple Unpacacking: Process of extracting individual values from tuple and assigning them to multiple variable

i, j, k, l = (1, 2, 3, 4)
print(i, j, k, l)

1 2 3 4

In [ ]:

a,b = (1,2,3,4,5,6,7)
print(a)
print(b)

ValueError: too many values to unpack (expected 2)

In [ ]:
# use of * operator

a, *b = (1,2,3,4,5,6,7)

print(a)
print(b)
print(type(a))
print(type(b))

1
[2, 3, 4, 5, 6, 7]
<class 'int'>
<class 'list'>

In [ ]:
a, *b, c, d = (1,2,3,4,5,6,7)

print(a)
print(b)
print(c)
print(d)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

1
[2, 3, 4, 5]
6
7
<class 'int'>
<class 'list'>
<class 'int'>
<class 'int'>

In [ ]:
a, *b, c, *d = (1,2,3,4,5,6,7)
print(b)
print(d)

SyntaxError: multiple starred expressions in assignment (<ipython-input-12-3c10fa4fa754>, line 1)

In [ ]:
a, *b = (1, 2)
c, d = (1, 2)

print(a, b)
print(type(a), type(b))
print(c, d)
print(type(c), type(d))

1 [2]
<class 'int'> <class 'list'>
1 2
<class 'int'> <class 'int'>

In [ ]:
a, *b = (1, 2)
print(a)
print(type(a))
print(b)
print(type(b))

1
<class 'int'>
[2]
<class 'list'>

In [ ]:
a, *b = [1, 2, 3]
print(a)
print(type(a))
print(b)
print(type(b))

1
<class 'int'>
[2, 3]
<class 'list'>

In [ ]:
t = tuple("python")
print(t)

('p', 'y', 't', 'h', 'o', 'n')

In [ ]:
print(t[0])
print(t[-1])

p
n

In [ ]:
print(t[1:4]) # Sliced output will be output

('y', 't', 'h')

In [ ]:
print(t[1:])

('y', 't', 'h', 'o', 'n')

In [ ]:
l = list('python')
t = tuple('python')
l[0] = "m"
print(l)
t[0] = "k"
print(t)

['m', 'y', 't', 'h', 'o', 'n']

TypeError: 'tuple' object does not support item assignment

In [ ]:
l = [1, 2, 3, 4, 5]

t = (1, 2, 3, l)

print(t)
print(id(t))

(1, 2, 3, [1, 2, 3, 4, 5])
137544137182080

In [ ]:
print(id(l))
l[0] = 10
print(t)
print(id(l))
print(id(t))

137544136927040
(1, 2, 3, [10, 2, 3, 4, 5])
137544136927040
137544137182080

In [ ]:
print(t)

(1, 2, 3, [10, 2, 3, 4, 5])

In [ ]:
t[3][0] = 100
print(t)

(1, 2, 3, [100, 2, 3, 4, 5])

In [ ]:
t[3] = [100, 2, 3, 4, 5]
print(t)

TypeError: 'tuple' object does not support item assignment

In [ ]:
l1 = [1, 2, 3]
l2 = l1
print(id(l1))
print(id(l2))

137544134074752
137544134074752

In [ ]:
l1[0] = 12
print(l1)
print(l2)

[12, 2, 3]
[12, 2, 3]

In [ ]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]

print(id(l1))
print(id(l2))

137544135908480
137544137038400

In [ ]:
l = [1,2,3,4,5]

m = l.copy()

print(m)
print(l)
print(id(m))
print(id(l))

l[0] = 1000
print(l)
print(m)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
137544134067328
137544134066368
[1000, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
sub_list = ["a","b","c"]
l = [1,2,3,sub_list]
m = l.copy()
print(l)
print(m)
print(id(l))
print(id(m))

sub_list[1] = "Venky"

print(l)
print(m)
print(id(l))
print(id(m))

[1, 2, 3, ['a', 'b', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
137544134067392
137544134067136
[1, 2, 3, ['a', 'Venky', 'c']]
[1, 2, 3, ['a', 'Venky', 'c']]
137544134067392
137544134067136

In [ ]:
import copy
sub_list = ["a","b","c"]
l = [1,2,3,sub_list]
m = copy.deepcopy(l)
print(l)
print(m)
print(id(l))
print(id(m))

sub_list[1] = "Venky"

print(l)
print(m)
print(id(l))
print(id(m))

[1, 2, 3, ['a', 'b', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
137544134078912
137544134079872
[1, 2, 3, ['a', 'Venky', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
137544134078912
137544134079872

In [ ]:
t = (1, 2, 3)
t2 = (1, 2, 3)
print(id(t1))
print(id(t2))

137545486926064
137544135612416

In [ ]:
l = [1, 2, 3]
t1 = (1, 2, 3, l)
t2 = t1
print(t1)
print(id(t1))
print(t2)
print(id(t2))

(1, 2, 3, [1, 2, 3])
137544135943696
(1, 2, 3, [1, 2, 3])
137544135943696

In [ ]:
l[0] = 10
print(t1)
print(id(t1))
print(t2)
print(id(t2))

(1, 2, 3, [10, 2, 3])
137544135943696
(1, 2, 3, [10, 2, 3])
137544135943696

In [ ]:
# Updating tuple

t = ("python", "c", "c++")
t[1] = "Java"

TypeError: 'tuple' object does not support item assignment

In [ ]:
temp = list(t)
print(temp)

['python', 'c', 'c++']

In [ ]:
temp[1] = "Java"
print(temp)

['python', 'Java', 'c++']

In [ ]:
t = tuple(temp)
print(t)

('python', 'Java', 'c++')

In [ ]:
from ast import Tuple
# deleting a  tuple

tupl = (1, 2, 3, 4, 5)
print(tupl)
del tupl[0]
print(tupl)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
tupl = (1, 2, 3, 4, 5)
print(tupl)
del tupl
print(tupl)

(1, 2, 3, 4, 5)

NameError: name 'tupl' is not defined

In [ ]:
# sort() --> In place sorting

l = [1, 5, 10, 8, 9, 12, 11]
print(l)
print(id(l))
l.sort()
print(l)
print(id(l))

[1, 5, 10, 8, 9, 12, 11]
137544134128832
[1, 5, 8, 9, 10, 11, 12]
137544134128832

In [ ]:
# sorted() -->  creates a new list and sorting is done on new list

l = [1, 5, 10, 8, 9, 12, 11]
print(l)
print(id(l))
sorted(l)
print(l)
print(id(l))
print(sorted(l))
print(id(sorted(l)))

[1, 5, 10, 8, 9, 12, 11]
137544135623360
[1, 5, 10, 8, 9, 12, 11]
137544135623360
[1, 5, 8, 9, 10, 11, 12]
137544132005568

In [ ]:
l = ['a', 'b', 'd', 'z', 'f']
l.sort()
print(l)

['a', 'b', 'd', 'f', 'z']

In [ ]:
l = [" ", "1", "a"]
l.sort()
print(l)

[' ', '1', 'a']

In [ ]:
print(ord(" "), ord("1"), ord("a"))

32 49 97

In [ ]:
l = [1, 2, 3, 5, 7, 9, 4]
sorted(l, reverse = True)

[9, 7, 5, 4, 3, 2, 1]

In [ ]:
t = (1, 2, 3, 5, 7, 9, 4, 12, 10)
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
t = sorted(t)
print(t)

[1, 2, 3, 4, 5, 7, 9, 10, 12]

In [70]:
sorted("Shanmukh")

['S', 'a', 'h', 'h', 'k', 'm', 'n', 'u']

In [71]:
ord('S')

83

In [72]:
ord('a')

97

In [73]:
# reverse

l = list("Shanmukh")
print(l)

['S', 'h', 'a', 'n', 'm', 'u', 'k', 'h']

In [74]:
l.reverse() # In place
print(l)

['h', 'k', 'u', 'm', 'n', 'a', 'h', 'S']

In [75]:
list(reversed(l)) # Out of place

['S', 'h', 'a', 'n', 'm', 'u', 'k', 'h']

In [76]:
t = tuple("Shanmukh")
t.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [78]:
tuple(reversed(t))

('h', 'k', 'u', 'm', 'n', 'a', 'h', 'S')

In [80]:
# count

l = [1, 2, 3, 1, 2, 3, 1, 2, 4, 3, 4, 5, 6, 7, 6, 5]
l.count(1)

3

## **Set Operations**

In [81]:
# initialize a set

s = {}
print(s)
print(type(s))

{}
<class 'dict'>

In [82]:
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [83]:
s = {1}
print(s)
print(type(s))

{1}
<class 'set'>

In [84]:
set1 = {1, 2, 3, 4, 5}
print(set1)
print(id(set1))
set1.add(6)
print(set1)
print(id(set1))

{1, 2, 3, 4, 5}
137544137157632
{1, 2, 3, 4, 5, 6}
137544137157632

In [85]:
set1 = {1, 2, 3, 4, 5, [1, 2]}
print(set1)

TypeError: unhashable type: 'list'

In [86]:
set1 = {1, 2, 3, 4, 5, (1, 2)}
print(set1)

{1, 2, 3, 4, 5, (1, 2)}

In [87]:
t = (1, 2, 3, [3, 5])
set1 = {1, 2, t}
print(set1)

TypeError: unhashable type: 'list'

In [88]:
set1 = {1, True}
print(set1)

{1}

In [90]:
print(hash(1), hash(True))

1 1

In [91]:
set1 = {0, False}
print(set1)

{0}

In [92]:
len({1, 2, 3, 5, 7, 10, 5})

6

In [93]:
# accessing a set

set1 = {"Venky", "Rajini", "Kamal", "Allu Arjun", "Ram Charan"}

set1[0]

TypeError: 'set' object is not subscriptable

In [94]:
"Venky" in set1

True

In [95]:
s = {1,2,5.4,"abc", "1234",2.3,5}
print(s)

{1, 2, 2.3, 'abc', 5, 5.4, '1234'}

In [96]:
# adding a element to set and updating a set

s = {10,20,30}
s.add(40)
print(s)

{40, 10, 20, 30}

In [97]:
s.add(70,50,60)
print(s)

TypeError: set.add() takes exactly one argument (3 given)

In [98]:
s.add((70,50,60))
print(s)

{40, 10, 20, (70, 50, 60), 30}

In [99]:
s.add((10,20,30))
print(s)

{40, 10, (10, 20, 30), 20, (70, 50, 60), 30}

In [100]:
set1 = {10, 20, 30}
print(set1)

{10, 20, 30}

In [107]:
# update

set1 = {10, 20, 30}
print(set1)
set2 = {40, 50, 60}
print(set2)
set1.update(set2)

{10, 20, 30}
{40, 50, 60}

In [108]:
print(set1)
print(set2)

{50, 20, 40, 10, 60, 30}
{40, 50, 60}

In [109]:
# union()

set1 = {10, 20, 30}
print(set1)
set2 = {40, 50, 60}
print(set2)
set1.union(set2)

{10, 20, 30}
{40, 50, 60}

{10, 20, 30, 40, 50, 60}

In [110]:
print(set1)
print(set2)

{10, 20, 30}
{40, 50, 60}

In [112]:
s = {1, 2, 3}
print(s)
l = [4, 5, 6]
s.update(l)
print(s)

{1, 2, 3}
{1, 2, 3, 4, 5, 6}

In [114]:
s = {1, 2, 3}
print(s)
l = [4, 5, 6]
print(s.union(l))
print(s)

{1, 2, 3}
{1, 2, 3, 4, 5, 6}
{1, 2, 3}

In [115]:
s = {1, 2, 3}
s.update("Shanmukh")
print(s)

{1, 2, 3, 'h', 'S', 'k', 'n', 'm', 'a', 'u'}

In [116]:
s = {1, 2, 3}
s.update(["Shanmukh"])
print(s)

{1, 2, 3, 'Shanmukh'}

In [117]:
# remove()

set1 = {"Virat", "Rohit", "Dhube", "Hardik"}
print(set1)
set1.remove("Hardik")
print(set1)

{'Virat', 'Rohit', 'Dhube', 'Hardik'}
{'Virat', 'Rohit', 'Dhube'}

In [118]:
set1.remove("Dhoni")

KeyError: 'Dhoni'

In [119]:
# discard

set1 = {"Virat", "Rohit", "Dhube", "Hardik"}
print(set1)
set1.discard("Hardik")
print(set1)

{'Virat', 'Rohit', 'Dhube', 'Hardik'}
{'Virat', 'Rohit', 'Dhube'}

In [121]:
set1.discard(("Dhoni"))
print(set1)

{'Virat', 'Rohit', 'Dhube'}

In [126]:
# pop()
set1 = {"Virat", "Rohit", "Dhube", "Hardik"}
print(set1)
print(set1.pop())
print(set1)

{'Virat', 'Rohit', 'Dhube', 'Hardik'}
Virat
{'Rohit', 'Dhube', 'Hardik'}

In [127]:
print(set1.pop())
print(set1)

Rohit
{'Dhube', 'Hardik'}

## **Operations On Set**

In [128]:
# UNION

s = {1, 2, 3}
t = {4, 5, 6}
s.union(t)

{1, 2, 3, 4, 5, 6}

In [129]:
# UNION ---> | (symbol)

s = {1, 2, 3}
t = {4, 5, 6}
s | t

{1, 2, 3, 4, 5, 6}

In [134]:
a = {1, 2, 3}
b = {4, 5, 6}
c = {7, 8, 9}
d = {10, 11, 12}
e = (14,15,16)
f = [17,18,19]
g = "Shanmukh"

a.union(b,c,d,e,f,g)

{1,
 10,
 11,
 12,
 14,
 15,
 16,
 17,
 18,
 19,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'S',
 'a',
 'h',
 'k',
 'm',
 'n',
 'u'}

In [135]:
a | b |c |d

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [136]:
a | b |c |d | e | f

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [137]:
# intersection

a = {1,2,3,4}
b = {2,3,5,7}

a.intersection(b)

{2, 3}

In [138]:
print(a)

{1, 2, 3, 4}

In [139]:
a = {1,2,3,4}
b = {2,3,5,7}
c = {10,20,30,40,3}

a.intersection(b, c)

{3}

In [140]:
# Symbol for intersection --> &

a & b

{2, 3}

In [141]:
a & b & c

{3}

In [142]:
a = {1,2,3}
b = [2,3,4]

a.intersection(b)

{2, 3}

In [143]:
a & b

TypeError: unsupported operand type(s) for &: 'set' and 'list'

In [144]:
# intersection_update
a = {1,2,3,4}
b = {2,3,5,7}
a.intersection(b)

{2, 3}

In [145]:
print(a)

{1, 2, 3, 4}

In [146]:
a.intersection_update(b)

In [147]:
print(a)

{2, 3}

In [149]:
a = {1,2,3,4}
b = {2,3,5,7}
print(a)
print(b)
a &= b

# &= -> intersection_update
# & -> intersection
# | -> union
# |= -> update

{1, 2, 3, 4}
{2, 3, 5, 7}

In [150]:
print(a)
print(b)

{2, 3}
{2, 3, 5, 7}

In [151]:
# union update

a = {1,2,3,4}
b = {2,3,5,7}
print(a)
print(b)
a |= b

{1, 2, 3, 4}
{2, 3, 5, 7}

In [152]:
print(a)
print(b)

{1, 2, 3, 4, 5, 7}
{2, 3, 5, 7}

In [153]:
# difference

a = {1,2,3,4}
b = {2,3,5,7}

a.difference(b)

{1, 4}

In [154]:
print(a)
print(b)

{1, 2, 3, 4}
{2, 3, 5, 7}

In [155]:
b.difference(a)

{5, 7}

In [158]:
# Symbol for difference operator

a = {1,2,3,4}
b = {2,3,5,7}

a - b

{1, 4}

In [159]:
b - a

{5, 7}

In [160]:
# difference update

a = {1,2,3,4}
b = {2,3,5,7}
print(a)
print(b)
a -= b

{1, 2, 3, 4}
{2, 3, 5, 7}

In [161]:
print(a)
print(b)

{1, 4}
{2, 3, 5, 7}

In [162]:
a = {1,2,3,4}
b = {2,3,5,7}
print(a)
print(b)
b -= a

{1, 2, 3, 4}
{2, 3, 5, 7}

In [163]:
print(a)
print(b)

{1, 2, 3, 4}
{5, 7}

In [165]:
# symmetric_difference --> (A | B) - (A & B)

gate_da = {"ML", "Python", "LA", "Calculus", "Aptitude"}

gate_cs = {"OS", "C++", "LA", "Calculus", "Aptitude"}

gate_da.symmetric_difference(gate_cs)

{'C++', 'ML', 'OS', 'Python'}

In [166]:
gate_da ^ gate_cs

{'C++', 'ML', 'OS', 'Python'}

In [167]:
# symmetric_difference upadte

gate_da ^= gate_cs

In [168]:
print(gate_da)

{'OS', 'Python', 'ML', 'C++'}

In [170]:
a = {1, 2, 3, 4, 5}
a.clear()

In [171]:
a

set()

In [172]:
a = {1, 2, 3, 4, 5}
del a

In [173]:
a

NameError: name 'a' is not defined

In [174]:
a = {1, 2, 3, 4, 5}
b = a.copy()
print(a, id(a))
print(b, id(b))

{1, 2, 3, 4, 5} 137544134709696
{1, 2, 3, 4, 5} 137544134710144

In [177]:
# isdijoint() ---> a&b = 0

a = {1,2,3,4}
b = {2,3,5,7}

a.isdisjoint(b)

False

In [178]:
a = {1, 2, 3, 4}
b = {5, 6, 7, 8}

a.isdisjoint(b)

True

In [179]:
# issuperset

a = {1,2,3,4}
b = {2,3,5,7}

a.issuperset(b)

False

In [181]:
a = {1, 2, 3, 4, 5, 6, 7, 8}
b = {2, 3, 5, 7}

a.issuperset(b)

True

In [182]:
# issubset

a = {1, 2, 3, 4, 5, 6, 7, 8}
b = {2, 3, 5, 7}

a.issubset(b)

False

In [183]:
b.issubset(a)

True

## **Frozen Set**

In [184]:
fs = frozenset()
print(fs)
print(type(fs))

frozenset()
<class 'frozenset'>

In [185]:
fs = frozenset([10, 20, 30, 40, True, False, 1, 0])
print(fs)
print(type(fs))

frozenset({False, True, 40, 10, 20, 30})
<class 'frozenset'>

In [186]:
fs.add(12)

AttributeError: 'frozenset' object has no attribute 'add'

In [187]:
fs.remove(True)

AttributeError: 'frozenset' object has no attribute 'remove'

In [190]:
# Union
# Intersection
# Difference
# Symmetric difference
# copy
# Only the above functions will work

In [198]:
f1 = frozenset([10,20,30,1,True,0,False])
f2 = frozenset([10, 100,200])
print(f1)
print(f2)
f1.union(f2)

frozenset({0, 1, 10, 20, 30})
frozenset({200, 10, 100})

frozenset({0, 1, 10, 20, 30, 100, 200})

In [199]:
f1 = frozenset([10,20,30,1,True,0,False])
f2 = frozenset([10, 100,200])
f1.intersection(f2)

frozenset({10})

In [197]:
f1.difference(f2)

frozenset({0, 1, 20, 30})

In [200]:
f2.difference(f1)

frozenset({100, 200})

In [201]:
f1.symmetric_difference(f2)

frozenset({0, 1, 20, 30, 100, 200})