<a href="https://colab.research.google.com/github/saiganesh00/Python-Practice/blob/main/Python_Class_09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Concatenate operator(+)

print('Shanmukh' + 'Maddimsetti')
print('Shanmukh ' + 'Maddimsetti')

ShanmukhMaddimsetti
Shanmukh Maddimsetti

In [3]:
# String repetition operator(*)

print('Python' * 2)
print('Python ' * 2)
print('Python' * 5)
print('Python' * 0)
print('Python' * -1)

PythonPython
Python Python
PythonPythonPythonPythonPython

In [4]:
# String Comparision

print("String" == "String")
print("String" == "string")

True
False

In [5]:
print("String" != "String")
print("String" != "string")

False
True

In [6]:
print("String" <= "String")
print("String" <= "string")
print(ord("s"))
print(ord("S"))

True
True
115
83

In [7]:
print("String" < "String")
print("String" < "string")

False
True

In [8]:
print("String" >= "String")
print("String" >= "string")

True
False

In [9]:
print("String" > "String")
print("String" > "string")

False
False

In [11]:
# membership operator

print("mu" in "Shanmukh")
print("muh" in "Shanmukh")

True
False

In [12]:
print("mu" not in "Shanmukh")
print("muh" not in "Shanmukh")

False
True

In [13]:
# Escape Sequence joperator \, \n, \b, \ooo, \xhh

print("Today's Match "India Vs Pak"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-13-c295698cbfc7>, line 3)

In [14]:
print("Today's Match: \"India Vs Pak\"")

Today's Match: "India Vs Pak"

In [15]:
print('Today\'s Match: \'India Vs Pak\'')

Today's Match: 'India Vs Pak'

In [16]:
print("Match1\nMatch2")

Match1
Match2

In [17]:
print("Hello World! \b")

Hello World! 

In [19]:
print("Hello World!\b")
print("Hello\b World!")
print("Hello \bWorld!")

Hello World!
Hello World!
Hello World!

In [21]:
# \ooo --> octal number 141 = 97 = a

print("\141")
print("\141\142")

a
ab

In [22]:
print("\1412")

a2

In [23]:
print("\14123456789")

a23456789

In [24]:
# \xhh -> Hex --> \x65 = 101 =chr(101) = e

print("\x65")

e

## **String Formatting**

In [26]:
# String formatting operator

subject = input('Enter the subject name: ')
print("Python class is happening now")

Enter the subject name: Java
Python class is happening now

In [27]:
print("%s class is happening now"%subject)
print("{} class is happening now".format(subject))

Java class is happening now
Java class is happening now

In [29]:
name = "Shanmukh"
age = 22
print("I'm Shanmukh and age is 26")
print("I'm %s and age id %d"%(name, age))

I'm Shanmukh and age is 26
I'm Shanmukh and age id 22

In [31]:
name = "Shanmukh"
city = "Ravulapalem"

print("I'm %s and I live in %s"%(name, city))
print("I'm %s and I live in %s"%(city, name))

I'm Shanmukh and I live in Ravulapalem
I'm Ravulapalem and I live in Shanmukh

In [32]:
print("I'm %s and I live in %d"%(name, age))

I'm Shanmukh and I live in 22

In [33]:
print("I'm %s and I live in %d"%(age, name))

TypeError: %d format: a real number is required, not str

In [61]:
# String formating

name  = 'Shanmukh'
age = 22

print("My name is {} and I'm {} years old".format(name, age))

My name is Shanmukh and I'm 22 years old

In [63]:
# Positional arguments

name  = 'Shanmukh'
age = 22

print("My name is {0} and I'm {1} years old".format(name, age))

My name is Shanmukh and I'm 22 years old

In [64]:
# Positional arguments

name  = 'Shanmukh'
age = 22

print("My name is {0} and I'm {1} years old".format(name, age))

My name is Shanmukh and I'm 22 years old

In [66]:
# Positional arguments

name  = 'Shanmukh'
age = 22

print("My name is {0} and I'm {2} years old".format(name, age, 23))

My name is Shanmukh and I'm 23 years old

In [65]:
# Key Word  arguments

name  = 'Shanmukh'
age = 22

print("My name is {name} and I'm {age} years old".format(name = "Srinivas", age = "20"))

My name is Srinivas and I'm 20 years old

In [67]:
# Key Word  arguments

name  = 'Shanmukh'
age = 22

print("My name is {name} and I'm {age} years old".format(age = "20", name = "Srinivas"))

My name is Srinivas and I'm 20 years old

In [ ]:
# Key Word  arguments

name  = 'Shanmukh'
age = 22

print("My name is {name} and I'm {age} years old".format(age = "20", name = "Srinivas"))

In [69]:
print("My name is {0} and I'm {age} years old.".format("Venky", age=26))
print("My name is {1} and I'm {age} years old.".format("Venky", "Viky", age=26))

My name is Venky and I'm 26 years old.
My name is Viky and I'm 26 years old.

In [70]:
# KeyWord Arguments shouldn't follow positional args

print("My name is {1} and I'm {age} years old.".format(age=26, "Venky"))

SyntaxError: positional argument follows keyword argument (<ipython-input-70-a8161a89519d>, line 3)

In [34]:
score = 12.5
print("Score is: %f"%score)

Score is: 12.500000

In [35]:
score = 12
print("Score is: %f"%score)

Score is: 12.000000

In [36]:
score1 = 12.9365473900
score2 = 12
print("Score is: %f"%score1)
print("Score is: %f"%score2)

Score is: 12.936547
Score is: 12.000000

In [37]:
print("Score is: %d"%score1)
print("Score is: %d"%score2)

Score is: 12
Score is: 12

In [38]:
print("Score is: %s"%score1)

Score is: 12.93654739

In [68]:
# Integer arguments

print("Class ends around {:d} AM".format(9))

Class ends around 9 AM

In [71]:
print("Class ends around {:d} AM".format(9.30))

ValueError: Unknown format code 'd' for object of type 'float'

In [72]:
print("Class ends around {:d} AM".format("9"))

ValueError: Unknown format code 'd' for object of type 'str'

In [73]:
# float arguments

print("Float value is given by {:f} ".format(120.4568976))
print("Float round off to 2 digits: {:.2f} ".format(120.4568976))
print("Float round off to 2 digits: {:.3f} ".format(120.4568976))

Float value is given by 120.456898
Float round off to 2 digits: 120.46
Float round off to 2 digits: 120.457

In [74]:
# padding

print("Learning padding for decimal number {:10d}".format(12897))
print("Learning padding for float number {:8.3f}".format(10.5678))
print("Learning padding for decimal number {:010d}".format(12897))
print("Learning padding for float number {:08.3f}".format(10.5678))
print("Learning padding for decimal number {:010d}".format(12897))
print("Learning padding for float number {:10.3f}".format(10.5678))

Learning padding for decimal number      12897
Learning padding for float number   10.568
Learning padding for decimal number 0000012897
Learning padding for float number 0010.568
Learning padding for decimal number 0000012897
Learning padding for float number     10.568

In [75]:
# integer with left alignment
print("Left Alignment Integer: {:<5d}".format(12))
print("Right Alignment Integer: {:>5d}".format(12))
print("Center Alignment Integer: {:^5d}".format(12))

print("Left Alignment Integer: {:<05d}".format(12))
print("Right Alignment Integer: {:>05d}".format(12))
print("Center Alignment Integer: {:^05d}".format(12))
print("Center Alignment Integer: {:^06d}".format(12))
print("Center Alignment Integer: {:^07d}".format(12))

Left Alignment Integer: 12
Right Alignment Integer:    12
Center Alignment Integer:  12
Left Alignment Integer: 12000
Right Alignment Integer: 00012
Center Alignment Integer: 01200
Center Alignment Integer: 001200
Center Alignment Integer: 0012000

In [78]:
# strings
print("Left Alignment Integer: {:*<20}".format("ABCDEFGHIJ"))
print("Right Alignment Integer: {:#>20}".format("Venkatesh"))
print("Center Alignment Integer: {:0^20}".format("Venkatesh"))

Left Alignment Integer: ABCDEFGHIJ**********
Right Alignment Integer: ###########Venkatesh
Center Alignment Integer: 00000Venkatesh000000

In [79]:
# truncating the strings

print("Truncated String: {:.3}".format("Python"))
print("Truncated String: {:.2}".format("Python"))
print("Truncated String with RA: {:*>10.2}".format("Python"))
print("Truncated String with LA: {:*<10.2}".format("Python"))
print("Truncated String with LA: {:*^10.2}".format("Python"))

Truncated String: Pyt
Truncated String: Py
Truncated String with RA: ********Py
Truncated String with LA: Py********
Truncated String with LA: ****Py****

In [80]:

print("Binary Value: {:b}, Octal Value: {:o}, Hex Value: {:x}".format(12))

IndexError: Replacement index 1 out of range for positional args tuple

In [82]:

print("Binary Value: {0:b}, Octal Value: {0:o}, Hex Value: {0:x}".format(12))

Binary Value: 1100, Octal Value: 14, Hex Value: c

In [83]:

print("Binary Value: {:b}, Octal Value: {:o}, Hex Value: {:x}".format(12, 14, 16))

Binary Value: 1100, Octal Value: 16, Hex Value: 10

In [87]:
1_000 + 1_000

2000

In [84]:
1_000_000 + 1_000

1001000

In [86]:
1,000 + 1,000 # It takes it as 1, 000 + 1, 000

(1, 1, 0)

## **String Slicing**

In [39]:
# String Slicing

info = "I'm Shanmukh and I work as a full stack developer"
print(info[5: 10])

hanmu

In [40]:
print(info[5:])

hanmukh and I work as a full stack developer

In [41]:
len(info)

49

In [42]:
info[:]

"I'm Shanmukh and I work as a full stack developer"

In [43]:
info[5: 55]

'hanmukh and I work as a full stack developer'

In [44]:
info[:20]

"I'm Shanmukh and I w"

In [47]:
st = "abcdefghijklmnopqrstuvwxyz"
print(st[::2])

acegikmoqsuwy

In [48]:
print(st[1:26:2])

bdfhjlnprtvxz

In [49]:
print(st[::3])

adgjmpsvy

In [52]:
print(st[20 : 10 : -1])

utsrqponml

In [53]:
print(st[20 : 10 : -2])

usqom

In [54]:
print(st[20 : 10 : 0])

ValueError: slice step cannot be zero

In [56]:
# String reversal

print(st[::-1])

zyxwvutsrqponmlkjihgfedcba

In [59]:
print(st[::-2])

zxvtrpnljhfdb

In [57]:
print(st[-23: -10])

defghijklmnop

In [58]:
print(st[-23: -10: -1])

## **F - Strings**

In [90]:
name = "Virat"
age =35

print(f"My name is {name} and my age is {age}")
print(F"My name is {name} and my age is {age}")

My name is Virat and my age is 35
My name is Virat and my age is 35

In [91]:
float_val = 12.678
print(f"Float Value: {float_val: .2f}")

Float Value:  12.68