<a href="https://colab.research.google.com/github/saiganesh00/Python-Practice/blob/main/Python_Class_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Break Statement**

In [4]:
team_score = [12,23,54,26,76,31]

i = 0
n = len(team_score)
total_score = 0

while i!=100:
    break
    i+=1

print("came out of loop")

came out of loop

In [8]:
team_score = [12,23,54,26,76,31]
i = 0
n = len(team_score)
while i < n:
  print(i, " --> ", team_score[i])
  i += 1
  if(i == 4):
    break
print("Came out of while loop")

0  -->  12
1  -->  23
2  -->  54
3  -->  26
Came out of while loop

In [13]:
team_score = [12,23,54,26,76,31]
i = 0
n = len(team_score)
total_score = 0
while i < n:
  print("Score --> ", team_score[i])
  total_score += team_score[i]
  print("Total Score --> ", total_score)
  i += 1
  if(total_score >= 100):
    break
print("Came out of while loop")

Score -->  12
Total Score -->  12
Score -->  23
Total Score -->  35
Score -->  54
Total Score -->  89
Score -->  26
Total Score -->  115
Came out of while loop

In [5]:
team_score = [12,23,54,26,76,31]

i = 0
n = len(team_score)
total_score = 0

for score in team_score:
  print("score: -->", score)
  total_score += score
  print("total_score: -->", total_score)
  if total_score >= 100:
    break

print("Came out of for loop")

score: --> 12
total_score: --> 12
score: --> 23
total_score: --> 35
score: --> 54
total_score: --> 89
score: --> 26
total_score: --> 115
Came out of for loop

In [14]:
team_scores = [[12, 23, 54, 26, 76, 31], [12,34,54,23,53,23,53], [1,2,4,52,5]]

for curr_team_score in team_scores:
  print(curr_team_score)

[12, 23, 54, 26, 76, 31]
[12, 34, 54, 23, 53, 23, 53]
[1, 2, 4, 52, 5]

In [17]:
for curr_team_score in team_scores:
  print("Current Team Score --> ", curr_team_score)
  total_score = 0
  for score in curr_team_score:
    print("Score: ", score)
    total_score += score
    print("Total Score: ", total_score)
    if total_score >= 100:
      print("*"*30)
      break
print()
print("Came out of for loop")

Current Team Score -->  [12, 23, 54, 26, 76, 31]
Score:  12
Total Score:  12
Score:  23
Total Score:  35
Score:  54
Total Score:  89
Score:  26
Total Score:  115
******************************
Current Team Score -->  [12, 34, 54, 23, 53, 23, 53]
Score:  12
Total Score:  12
Score:  34
Total Score:  46
Score:  54
Total Score:  100
******************************
Current Team Score -->  [1, 2, 4, 52, 5]
Score:  1
Total Score:  1
Score:  2
Total Score:  3
Score:  4
Total Score:  7
Score:  52
Total Score:  59
Score:  5
Total Score:  64

Came out of for loop

In [18]:
for curr_team_score in team_scores:
  print("Current Team Score --> ", curr_team_score)
  total_score = 0
  for score in curr_team_score:
    print("Score: ", score)
    total_score += score
    print("Total Score: ", total_score)
    if total_score >= 100:
      print("*"*30)
      break
  if len(curr_team_score) > 5:
    break
print()
print("Came out of for loop")

Current Team Score -->  [12, 23, 54, 26, 76, 31]
Score:  12
Total Score:  12
Score:  23
Total Score:  35
Score:  54
Total Score:  89
Score:  26
Total Score:  115
******************************

Came out of for loop

## **Continue Statement**

In [20]:
l = [12, 32, 0, -10, -5, 200, 100]

for val in l:
  if(val < 0):
    continue
  print(val)

12
32
0
200
100

In [22]:
l = [12, 32, 0, -10, -5, 200, 100]
non_negative_num = 0
for val in l:
  print("Current value: ", val)
  if(val < 0):
    continue
  non_negative_num += val
  print('Current non negative value: ', val)
print("Sum of non negative value: ", non_negative_num)

Current value:  12
Current non negative value:  12
Current value:  32
Current non negative value:  32
Current value:  0
Current non negative value:  0
Current value:  -10
Current value:  -5
Current value:  200
Current non negative value:  200
Current value:  100
Current non negative value:  100
Sum of non negative value:  344

In [23]:
l = [1,2,3,4,5,6,5,4,2]

for value in l:
  print("value: -->",value)
  if value==5:
    continue
  print("VENKY")
  print("Python")
  print("ANy value")

value: --> 1
VENKY
Python
ANy value
value: --> 2
VENKY
Python
ANy value
value: --> 3
VENKY
Python
ANy value
value: --> 4
VENKY
Python
ANy value
value: --> 5
value: --> 6
VENKY
Python
ANy value
value: --> 5
value: --> 4
VENKY
Python
ANy value
value: --> 2
VENKY
Python
ANy value

## **Pass Statement**

In [25]:
l = [[9.5,8.2,7.3,5], [5.6,9.8,10,7.1,6], [6.2,7.5,9.3]]

for cgpa_list in l:
  for curr_cgpa in cgpa_list:
     # Currently don't know what to decide we use pass

  print("Award Cermony in College")
  print("Parties in College")

IndentationError: expected an indented block after 'for' statement on line 4 (<ipython-input-25-a41836d283a1>, line 7)

In [26]:
l = [[9.5,8.2,7.3,5], [5.6,9.8,10,7.1,6], [6.2,7.5,9.3]]

for cgpa_list in l:
  for curr_cgpa in cgpa_list:
     # Currently don't know what to decide we use pass
     pass
  print("Award Cermony in College")
  print("Parties in College")

Award Cermony in College
Parties in College
Award Cermony in College
Parties in College
Award Cermony in College
Parties in College

In [27]:
l = [[9.5,8.2,7.3,5], [5.6,9.8,10,7.1,6], [6.2,7.5,9.3]]

for cgpa_list in l:
  for curr_cgpa in cgpa_list:
     # Currently don't know what to decide we use pass
     pass
     print(curr_cgpa)
  print("Award Cermony in College")
  print("Parties in College")

9.5
8.2
7.3
5
Award Cermony in College
Parties in College
5.6
9.8
10
7.1
6
Award Cermony in College
Parties in College
6.2
7.5
9.3
Award Cermony in College
Parties in College

In [28]:
l = [10, 20, 30, 40]

for val in l:
  if val > 20:
    continue
  print("Value: ", val)

Value:  10
Value:  20

In [29]:
l = [10, 20, 30, 40]

for val in l:
  if val > 20:
    pass  # Will not do anything --> Empty function
  print("Value: ", val)

Value:  10
Value:  20
Value:  30
Value:  40

In [30]:
l = [10,20,30,40]

for value in l:
  if value>20:
    # adding a line single comment
  print("Value: ", value)

IndentationError: expected an indented block after 'if' statement on line 4 (<ipython-input-30-270a9c82fd1c>, line 6)

### **Else With Loops**
- **If there is no break statement in the loop then the else block will be executed**

In [32]:
l = [10, 20, 30, 40, 50, 60]
total_val = 0
for val in l:
  total_val += val
  print("Current Total Vale: ", total_val)
else:
  print('In Else block of for loop')

print("Outside for loop")

Current Total Vale:  10
Current Total Vale:  30
Current Total Vale:  60
Current Total Vale:  100
Current Total Vale:  150
Current Total Vale:  210
In Else block of for loop
Outside for loop

In [35]:
l = [10, 20, 30, 40, 50, 60]
total_val = 0
for val in l:
  total_val += val
  print("Current Total Vale: ", total_val)
  if val == 45:
    break
else:
  print('In Else block of for loop')

print("Outside for loop")

Current Total Vale:  10
Current Total Vale:  30
Current Total Vale:  60
Current Total Vale:  100
Current Total Vale:  150
Current Total Vale:  210
In Else block of for loop
Outside for loop

In [36]:
l = [10, 20, 30, 45, 50, 60]
total_val = 0
for val in l:
  total_val += val
  print("Current Total Vale: ", total_val)
  if val == 45:
    break
else:
  print('In Else block of for loop')

print("Outside for loop")

Current Total Vale:  10
Current Total Vale:  30
Current Total Vale:  60
Current Total Vale:  105
Outside for loop

In [38]:
rcb_main_5 = ["virat", "faf", "maxi", "dhoni", "rohit"]

for player in rcb_main_5:
  print("Current Player: ", player)
  if player == "abd":
    break
else:
  print("Else block of for loop")
print("Outside for loop")

Current Player:  virat
Current Player:  faf
Current Player:  maxi
Current Player:  dhoni
Current Player:  rohit
Else block of for loop
Outside for loop

In [41]:
rcb_main_5 = ["virat", "faf", "maxi", "abd", "dhoni", "rohit"]

for player in rcb_main_5:
  print("Current Player: ", player)
  if player == "abd":
    print("Inside Break")
    break
else:
  print("Else block of for loop")
print("Outside for loop")

Current Player:  virat
Current Player:  faf
Current Player:  maxi
Current Player:  abd
Inside Break
Outside for loop

In [42]:
l = [[1, 2, 3, 4, 5], [6, 7, 9, 11]]

for curr_list in l:
  for val in curr_list:
    if val == 5:
      break
  else:
    print("Else block of inner loop")
else:
  print("Els block of outer loop")

print("Outside of loop")

Else block of inner loop
Els block of outer loop
Outside of loop

In [43]:
i = 0
n = 10

while i < n:
  print("Value i: ", i)
  if i == 7 and i < 5:
    break
  i += 1
else:
  print("Else block of while loop")
print("Outside while loop")

Value i:  0
Value i:  1
Value i:  2
Value i:  3
Value i:  4
Value i:  5
Value i:  6
Value i:  7
Value i:  8
Value i:  9
Else block of while loop
Outside while loop

In [45]:
i = 0
n = 10

while i < n:
  print("Value i: ", i)
  if i == 7:
    print("Shanmukh")
  i += 1
else:
  print("Else block of while loop")
print("Outside while loop")

Value i:  0
Value i:  1
Value i:  2
Value i:  3
Value i:  4
Value i:  5
Value i:  6
Value i:  7
Shanmukh
Value i:  8
Value i:  9
Else block of while loop
Outside while loop

In [46]:
i = 0
n = 10

while i < n:
  print("Value i: ", i)
  if i == 7:
    print("Inside if block")
    break
  i += 1
else:
  print("Else block of while loop")
print("Outside while loop")

Value i:  0
Value i:  1
Value i:  2
Value i:  3
Value i:  4
Value i:  5
Value i:  6
Value i:  7
Inside if block
Outside while loop

In [48]:
# i = 1
# while i < 10:
#   print("Value of i: ", i)
#   i = i // 2
# # Infinite Loop

In [50]:
count = 0
for i in range(3):
  for j in range(3):
    if (i + j) < 3:
      count += 1
print(count)

6

In [51]:
count = 0
for i in range(4):
  for j in range(4):
    if i == 2 and j > 1:
      continue
    count += 1
print(count)

14

In [53]:
k = 0
for i in range(5):
  for j in range(i, 5):
    k += i + j
print(k)

60