<a href="https://colab.research.google.com/github/saiganesh00/Python-Practice/blob/main/Python_Class_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **List Operations**

In [1]:
l = []
print(l)

[]

In [2]:
t = tuple()
l = list(l)
print(l)

[]

In [3]:
name = "shanmukh"

l = list(name)
print(l)

['s', 'h', 'a', 'n', 'm', 'u', 'k', 'h']

In [4]:
l = [1, 2, 3, 3.14, 8.29, "ABC", "DEF"]

print(l[0])
print(l[1])
print(l[2])
print(l[3])
print(l[4])
print(l[5])
print(l[6])

1
2
3
3.14
8.29
ABC
DEF

In [5]:

print(l[-1])
print(l[-2])
print(l[-3])
print(l[-4])
print(l[-5])
print(l[-6])
print(l[-7])

DEF
ABC
8.29
3.14
3
2
1

In [7]:
l = [[1, 2, 3], [4, 5], [6, [7, 8]]]

print(l[0][0])
print(l[0][1])
print(l[0][2])
print(l[1][0])
print(l[1][1])
print(l[2][0])
print(l[2][1][0])
print(l[2][1][1])

1
2
3
4
5
6
7
8

In [9]:
l = [[1,2,3,[4,5]],[23,[12,34],9],30,21]
print(l[0])
print(l[1])
print(l[2])
print(l[3])

[1, 2, 3, [4, 5]]
[23, [12, 34], 9]
30
21

In [10]:
print(l[0][3][0])
print(l[0][3][-2])

4
4

In [11]:
# slicing a list

l = ["sachin", "sehwag", "gauti", "virat", "raina", "dhoni", "yousuf", "bumrah"]

print(len(l))

8

In [12]:
print(l[1:6])

['sehwag', 'gauti', 'virat', 'raina', 'dhoni']

In [13]:
print(l[1:6:2])

['sehwag', 'virat', 'dhoni']

In [15]:
print(l[:])

['sachin', 'sehwag', 'gauti', 'virat', 'raina', 'dhoni', 'yousuf', 'bumrah']

In [16]:
print(l[::])

['sachin', 'sehwag', 'gauti', 'virat', 'raina', 'dhoni', 'yousuf', 'bumrah']

In [17]:
print(l[6:2])

[]

In [18]:
print(l[6:2:-1])

['yousuf', 'dhoni', 'raina', 'virat']

In [20]:
print(l[6:2:-3])

['yousuf', 'virat']

In [19]:
# reverse a list

print(l[::-1])

['bumrah', 'yousuf', 'dhoni', 'raina', 'virat', 'gauti', 'sehwag', 'sachin']

In [24]:
l = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
len(l)

10

In [22]:
print(l[-4:8])

['g', 'h']

In [23]:
print(l[-4:-8])

[]

In [25]:
# Adding elements to a list

csk = ["Hayden", "Vijay", "Raina"]
print(csk)

['Hayden', 'Vijay', 'Raina']

In [26]:
# append()

print(csk)
csk.append("Dhoni")
print(csk)

['Hayden', 'Vijay', 'Raina']
['Hayden', 'Vijay', 'Raina', 'Dhoni']

In [27]:
# append()

print(csk)
csk.append("Jadeja")
print(csk)

['Hayden', 'Vijay', 'Raina', 'Dhoni']
['Hayden', 'Vijay', 'Raina', 'Dhoni', 'Jadeja']

In [28]:
# List is mutable. List address remains even after adding elements

l = [1, 2, 3, 4]
print(l)
print(id(l))
l.append(5)
print(l)
print(id(l))
l.append("Shanmukh")
print(l)
print(id(l))

[1, 2, 3, 4]
138832435245952
[1, 2, 3, 4, 5]
138832435245952
[1, 2, 3, 4, 5, 'Shanmukh']
138832435245952

In [29]:
l.append(["rbr", "jay"])
print(l)

[1, 2, 3, 4, 5, 'Shanmukh', ['rbr', 'jay']]

In [30]:
l.append(["Hari", "Srinivas"])
print(l)

[1, 2, 3, 4, 5, 'Shanmukh', ['rbr', 'jay'], ['Hari', 'Srinivas']]

In [32]:
l.append((1, 2, 3))
print(l)

[1, 2, 3, 4, 5, 'Shanmukh', ['rbr', 'jay'], ['Hari', 'Srinivas'], (1, 2, 3)]

In [31]:
numbers = [1, 2, 3, 4, 5]
print(numbers)
print(id(numbers))
k = numbers.append(6)
print(k)
print(numbers)
print(id(numbers))
numbers = numbers.append(7)
print(numbers)
print(id(numbers))
print(type(numbers))

[1, 2, 3, 4, 5]
138832433272320
None
[1, 2, 3, 4, 5, 6]
138832433272320
None
94554888573920
<class 'NoneType'>

In [35]:
# insert()

indian_batting_team = ["Rohit", "Virat", "Pant", "Sky"]
print(indian_batting_team)
indian_batting_team.insert(1, "Jaiswal")
print(indian_batting_team)
indian_batting_team.insert(2, "Dhoni")
print(indian_batting_team)

['Rohit', 'Virat', 'Pant', 'Sky']
['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky']
['Rohit', 'Jaiswal', 'Dhoni', 'Virat', 'Pant', 'Sky']

In [36]:
indian_batting_team = ["Rohit", "Virat", "Pant", "Sky"]
print(indian_batting_team)
new_list = indian_batting_team.insert(1, "Jaiswal")
print(new_list)
print(indian_batting_team)

['Rohit', 'Virat', 'Pant', 'Sky']
None
['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky']

In [37]:
l = [1,2,3,4,5]
print(l)
print(id(l))
l.insert(2,10)
print(l)
print(id(l))

[1, 2, 3, 4, 5]
138832435054272
[1, 2, 10, 3, 4, 5]
138832435054272

In [38]:
l = [1,2,3]
l.insert(10, 'a')
print(l)

[1, 2, 3, 'a']

In [39]:
l = [1,2,3,4,5,6]
l.insert(2, "cab")
print(l)

[1, 2, 'cab', 3, 4, 5, 6]

In [40]:
l = [1,2,3,4,5,6]
l.insert(-2, 'abc')
print(l)

[1, 2, 3, 4, 'abc', 5, 6]

In [41]:
l = [1, 2, 3, 4, 5]
l.insert(2, 'a')
print(l)

[1, 2, 'a', 3, 4, 5]

In [42]:
l = [1, 2, 3, 4, 5]
l.insert(-2, 'a')
print(l)

[1, 2, 3, 'a', 4, 5]

In [43]:
l.insert(2, [20, 30, 40])
print(l)

[1, 2, [20, 30, 40], 3, 'a', 4, 5]

In [44]:
# extend method ---> can only take iterable objects as arguments

subjects = ["Linear Algebra", "Calaculus", "Python", "DSA"]
print(subjects)

['Linear Algebra', 'Calaculus', 'Python', 'DSA']

In [45]:
new_subjects = ["Probability", "Statistics", "DBMS"]
print(new_subjects)

['Probability', 'Statistics', 'DBMS']

In [46]:
print(subjects)
print(new_subjects)
subjects.extend(new_subjects)
print(subjects)

['Linear Algebra', 'Calaculus', 'Python', 'DSA']
['Probability', 'Statistics', 'DBMS']
['Linear Algebra', 'Calaculus', 'Python', 'DSA', 'Probability', 'Statistics', 'DBMS']

In [47]:
alpha = ['a', 'b', 'c']
alpha.append('def')
print(alpha)
alpha.extend('ghi')
print(alpha)

['a', 'b', 'c', 'def']
['a', 'b', 'c', 'def', 'g', 'h', 'i']

In [48]:
# User Input for list

user_input = input("Enter the input: ")
print(user_input)
print(len(user_input))
print(type(user_input))

Enter the input: 1 2 3 4
1 2 3 4
7
<class 'str'>

In [49]:
user_input = input("Enter the input: ").split()
print(user_input)

Enter the input: 1 2 3 4
['1', '2', '3', '4']

In [50]:
n = int(input("Enter the size of the list: "))
li = []
for i in range(n):
  li.append(int(input("Enter the element: ")))
print(li)

Enter the size of the list: 4
Enter the element: 1
Enter the element: 2
Enter the element: 3
Enter the element: 4
[1, 2, 3, 4]

In [51]:
players = ["Rohit", "Jaiswal", "Virat", "Pant", "Sky", "Dube", "Hardik", "Jaddu"]
print(players)
players[5] = "Rinku"
print(players)

['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']
['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Rinku', 'Hardik', 'Jaddu']

In [52]:
players = ["Rohit", "Jaiswal", "Virat", "Pant", "Sky", "Dube", "Hardik", "Jaddu"]
print(players)
players[5:] = "Rinku"
print(players)

['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']
['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'R', 'i', 'n', 'k', 'u']

In [53]:
players = ["Rohit", "Jaiswal", "Virat", "Pant", "Sky", "Dube", "Hardik", "Jaddu"]
print(players)
players[5:] = ["Rinku"]
print(players)

['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']
['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Rinku']

In [54]:
players = ["Rohit", "Jaiswal", "Virat", "Pant", "Sky", "Dube", "Hardik", "Jaddu"]
print(players)
players[5:] = ["Rinku", "Tewatia", "Ashuthosh", "Shashank"]
print(players)

['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']
['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Rinku', 'Tewatia', 'Ashuthosh', 'Shashank']

In [67]:
players = ["Rohit", "Jaiswal", "Virat", "Pant", "Sky", "Dube", "Hardik", "Jaddu"]
print(players)
players[5:7] = ["Rinku", "Tewatia", "Ashuthosh", "Shashank"]
print(players)

['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']
['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Rinku', 'Tewatia', 'Ashuthosh', 'Shashank', 'Jaddu']

In [55]:
players = ["Rohit", "Jaiswal", "Virat", "Pant", "Sky", "Dube", "Hardik", "Jaddu"]
print(players)
players[5:2] = ["Rinku", "Tewatia", "Ashuthosh", "Shashank"]
print(players)

['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']
['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Rinku', 'Tewatia', 'Ashuthosh', 'Shashank', 'Dube', 'Hardik', 'Jaddu']

In [57]:
# remove

l = [1,2,3,4,5]
print(l)
l.remove(3)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [58]:
l = [1,2,3,4,5]
print(l)
l.remove(6)
print(l)

[1, 2, 3, 4, 5]

ValueError: list.remove(x): x not in list

In [60]:
l = [1,2,3,6,4,3,5,3]
print(l)
l.remove(3)
print(l)

[1, 2, 3, 6, 4, 3, 5, 3]
[1, 2, 6, 4, 3, 5, 3]

In [61]:
l = [1,2,3,6,4,3,5,3]
print(l)
re = l.remove(3)
print(l)
print(re)

[1, 2, 3, 6, 4, 3, 5, 3]
[1, 2, 6, 4, 3, 5, 3]
None

In [62]:
# delete --> deleted an element based on index

l = [1, 2, 3, 4, 5]
print(l)
del l[3]
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]

In [63]:
l = [1,2,3,4,5]
print(l)
del l[1:4]
print(l)

[1, 2, 3, 4, 5]
[1, 5]

In [66]:
l = [1,2,3,4,5]
print(l)
del l[:]
print(l)

[1, 2, 3, 4, 5]
[]

In [64]:
# deleting an entire list

l = [1,2,3,4,5]
print(l)
del l # referece is deleted
print(l)

[1, 2, 3, 4, 5]

NameError: name 'l' is not defined

In [65]:
# clear()

l = [1, 2, 3, 4, 5]
print(l)
l.clear()
print(l)

[1, 2, 3, 4, 5]
[]

In [68]:
# pop(index) --> index is optional

l = [1, 2, 3, 4, 5]
print(l)
l.pop()
print(l)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [70]:
l = [1, 2, 3, 4, 5]
print(l)
ele = l.pop()
print(l)
print(ele)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
5

In [71]:
l = [1, 2, 3, 4, 5]
print(l)
ele = l.pop(3) # removes and returns element at index 3
print(l)
print(ele)

[1, 2, 3, 4, 5]
[1, 2, 3, 5]
4

In [75]:
l = [1,2,3,4,5]
print(l)
a = l.pop(10)
print(l)
print(a)

[1, 2, 3, 4, 5]

IndexError: pop index out of range

In [72]:
# list comprehension

li = []

for i in range(1, 101):
  li.append(i)

print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [74]:
li = [i for i in range(1, 101)]
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [77]:
li = [x*2 for x in range(1, 5)]
print(li)

[2, 4, 6, 8]

In [78]:
li = [i for i in range(1, 10) if i % 2 == 0]
print(li)

[2, 4, 6, 8]

In [79]:
li = [x ** 3 if x % 2 == 0 else x ** 2 for x in range(5)]
print(li)

[0, 1, 8, 9, 64]

In [80]:
li  = [x + 5 if x % 2 == 0 else x + 10 for x in range(1, 11)]
print(li)

[11, 7, 13, 9, 15, 11, 17, 13, 19, 15]

In [81]:
l = [1, 2, 3]
m = [2, 3, 4]

li = [(i, j) for i in l for j in m if i + j > 3]
print(li)

[(1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 2), (3, 3), (3, 4)]

In [82]:
l = [1, 2, 3]
m = [2, 3, 4]

li = [(i, j) if i + j > 3 else (j, i) for i in l for j in m ]
print(li)

[(2, 1), (1, 3), (1, 4), (2, 2), (2, 3), (2, 4), (3, 2), (3, 3), (3, 4)]