<a href="https://colab.research.google.com/github/saiganesh00/Python-Practice/blob/main/Python_Class_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Type Casting**

- **Type casting is a method to convert one data type to another data type to perform certain operations**
- **Implicit Type Casting: In this method, python converts the datatype into another datatype automatically.**
- **Explicit Type Casting: Python needs user involvement to convert the data type**

In [1]:
# Implicit type conversion

a = 7
print(type(a))
b = 3.0
print(type(b))
c = a+b
print(c)
print(type(c))

<class 'int'>
<class 'float'>
10.0
<class 'float'>

In [2]:
# Explicit type conversion

print(type(a))
b = 3.0
print(type(b))
c = int(a+b)
print(c)
print(type(c))

<class 'int'>
<class 'float'>
10
<class 'int'>

- **int(): takes float or string as an argument and returns int**
- **float(): takes int or string as an argument and returns float**
- **str(): takes int or float as argument and returns string**

In [5]:
# int()

a = 8.5
i_1 = int(a)
print(i_1)
print(type(i_1))

b = "10"
i_2 = int(b)
print(i_2)
print(type(i_2))

# Inorder to convert a string to int, the number should be integer

# c = "3.14"
# i_3 = int(c)
# print(i_3)
# print(type(i_3))

# d = "abc"
# i_4 = int(d)
# print(i_4)
# print(type(i_4))

8
<class 'int'>
10
<class 'int'>

In [6]:
# float()

a = 8
i_1 = float(a)
print(i_1)
print(type(i_1))

b = "8"
i_2 = float(b)
print(i_2)
print(type(i_2))

c = "3.14"
i_3 = float(c)
print(i_3)
print(type(i_3))

# Inorder to convert a string to int, the number should be number
# d = "abc"
# i_4 = int(d)
# print(i_4)
# print(type(i_4))

8.0
<class 'float'>
8.0
<class 'float'>
3.14
<class 'float'>

In [7]:
# str()

a = 8
i_1 = str(a)
print(i_1)
print(type(i_1))

b = 10.5
i_2 = str(b)
print(i_2)
print(type(i_2))

8
<class 'str'>
10.5
<class 'str'>

## **Operators:**
####**Symbol that performs specific operation between two operands**
- **Arthmetic Operators:**
    - **Addition(+)**
    - **Subtraction(-)**
    - **Multiplcation(*)**
    - **Division(/)**
    - **Modulus(%)**
- **Comparision Operators:**
    - **(>), (>=), (<), (<=), (==), (!=)**
- **Assignment Operators:**
    - **(=), (+=), (-=), (*=), (/=), (//=)**
    - Ex: a = 5
- **Bitwise Operators**
    - **Bitwise AND(&)**
    - **Bitwise OR(|)**
    - **Negation(~)**
    - **Left Shift(<<)**
    - **Right Shift(>>)**
- **Logical Operators**
    - **and**
    - **or**
    - **not**
- **Membership Operators:**
  The membership of a value in python data structure

    - **(in)**
    - **(not in)**
- **Identity Operators**

    - **(is)**
    - **(is not)**

**Arithmetic Operators**

In [8]:
a = 10
b = 5

print("+", a+b)
print("-", a-b)
print("*", a*b)
print("/", a/b)
print("%", a%b)
print("//", a//b)
print("**", a**b)

+ 15
- 5
* 50
/ 2.0
% 0
// 2
** 100000

In [9]:
-7 // 2

-4

In [12]:
12.5 % 7.5

5.0

**Comparision Operators**

In [11]:
a = 10
b = 5

print("==", a==b)
print("!=", a!=b)
print(">=", a>=b)
print("<=", a<=b)
print("> ", a>b)
print("< ", a<b)

== False
!= True
>= True
<= False
>  True
<  False

In [13]:
print(0 == 0.0)
print(1 == 1.0)
print(True == 1)
print(False == 0)

True
True
True
True

**Logical Operators**

In [14]:
# and, or, not

x = 5
y = 10

print(x > 4 and y < 12)
print(x > 4 and y < 10)
print(x > 6 and y < 10)
print(x > 6 and y < 12)
print()
print(x > 4 or y < 12)
print(x > 4 or y < 10)
print(x > 6 or y < 10)
print(x > 6 or y < 12)

True
False
False
False

True
True
False
True

In [15]:
a = 8
b = 5
c = 12

print(a and b and c)

12

In [16]:
a = 8
b = 0
c = 12

print(a and b and c)

0

In [19]:
a = 8
b = 0
c = 12

print(a or b or c)

8

In [20]:
a = 0
b = 10
c = 12

print(a or b or c)

10

In [21]:
a = -1
b = -3
c = -5

print(a or b or c)
print(a and b and c)

-1
-5

In [22]:
not(False)

True

In [23]:
not(True)

False

In [26]:
a = 10
b = 5
c = 12
d = 0

print(a and b and c)
print(d or a or c)
print(not(a and d and c))
print(not(d or d or c))

12
10
True
False