<a href="https://colab.research.google.com/github/saiganesh00/Python-Practice/blob/main/Python_Class_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Problem Solving**

### **Which of the following is valid ?**
- 1. x + y = 2
- 2. x * x = 3
- 3. xy = 5
- 4. x - y = 12

**Ans: 3**

In [ ]:
once = "umbr"
repeat = "ella"
u = once + (repeat + " ")*4
print(u)

umbrella ella ella ella

In [ ]:
us_gold = 46
uk_gold = 27
ru_gold = 1

total_gold = us_gold + uk_gold + ru_gold
print(total_gold)
ru_gold += 100
print(total_gold)

74
74

### **Which of the following is a valid variable ?**
- 1. For
- 2. While
- 3. In
- 4. 123In

**Ans: 1, 2, 3**

### **What is printed when you type "Right" in the input entry of the following code ?**

In [ ]:
n = input("Type Something: ")
while n == "right":
  print("You are correct")
print("Incorrect answer")

Type Something: Right
Incorrect answer

### **What does the below code print ?**

In [ ]:
s = "6:00 is 6.0001 and 6.0002"
new_str = ""
new_str += s[0]
new_str += s[4::30]
new_str += s[13:10:-1]
print(new_str)

6 100

### **How many times "GATE DA" will be printed in below code ?**

In [ ]:
s1 = "mit u rock"
s2 = "i rule mit"

if len(s1) == len(s2):
  for char1 in s1:
    for char2 in s2:
      if char1 == char2:
        print("GATE DA")
        break

GATE DA
GATE DA
GATE DA
GATE DA
GATE DA
GATE DA
GATE DA

### **What does the below code print ?**

In [ ]:
l = ["life", "answer", 42, 0]
for v in l:
  if v == 0:
    l[v] = "Venky"
  elif v == 42:
    l[3] = "Venky"
    l[1] = 0
print(l)

['life', 0, 42, 'Venky']

### **What is the value of l3 after the execution of the program?**

In [ ]:
l1 = ['re']
l2 = ['mi']
l3 = ['do']
l4 = l1 + l2
l3.extend(l4)
l3.sort()
del l3[0]
l3.append(['fa', 'la'])
print(l3)

['mi', 're', ['fa', 'la']]

### **What does the below code print ?**

In [ ]:
l = 3
for i in range(len(l)):
  print(i)

TypeError: object of type 'int' has no len()

### **What does the below code print ?**

In [ ]:
l = 3
for i in range(len(l)):
  print(i)

TypeError: object of type 'int' has no len()

### **What does the below code print ?**

In [ ]:
l1 = ['bacon', 'eggs']
l2 = ['toast', 'jam']
brunch = l1
l1.append('juice')
brunch.extend(l2)
print(brunch)

['bacon', 'eggs', 'juice', 'toast', 'jam']

### **What is the output of the below code ?**

In [1]:
any([2 > 8, 4 > 2, 1 > 2])

True

In [3]:
all([2 > 8, 4 > 2, 1 > 2])

False

### **What is the output of the below code ?**

In [4]:
all(3, 0.4, 2)

TypeError: all() takes exactly one argument (3 given)

In [5]:
all([3, 0.4, 2])

True

In [6]:
bool(0.4)

True

### **Find the output of below code ?**

In [7]:
sum(2, 4, 6)

TypeError: sum() takes at most 2 arguments (3 given)

In [8]:
sum([2, 4, 6])

12

### **Find the output of below code ?**

In [9]:
all([])

True

In [10]:
any([])

False

In [11]:
sum([1, 2, 3], 4)

10

In [12]:
sum([], [])

[]

In [13]:
sum([1, 2, 3], [2, 2])

TypeError: can only concatenate list (not "int") to list

In [15]:
sum['1', '2', '3']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [16]:
sum([2, 4, 6], 10)

22

### **What is the output of following code ?**

In [17]:
min(max(False, -3, -4), 2, 7)

False

In [18]:
max(False, -3, -4)

False

### **What is the output of following code ?**

In [19]:
list(enumerate([2, 3]))

[(0, 2), (1, 3)]

### **What does the below code print ?**

In [21]:
complex('1-2j')

(1-2j)

In [22]:
complex('1 - 2j')

ValueError: complex() arg is a malformed string

### **Find the output ?**

In [23]:
float('1e-003') # 1 * 10 ^ (-3)

0.001

In [24]:
float('2e+003') # 2 * 10 ^ (3)

2000.0

In [25]:
float()

0.0

In [26]:
complex()

0j

In [27]:
float('     -12345\n')

-12345.0

### **What will be the output of following code ?**

In [28]:
virat = Rohit
virat += Sachin

NameError: name 'Rohit' is not defined

In [30]:
print(~~~~~~5)

5

In [32]:
x = 0b101  # binary
print(x)

5

In [34]:
x = 0x4f5 # 5 * pow(16, 0) + 15 * pow(16, 1) + 4 * pow(16, 2) --> Hexadecimal
print(x)

1269

In [35]:
x = 12345
print(x)

12345

In [37]:
x = 0o312 # octal
print(x)

202

### **What is the ouput of following code ?**

In [41]:
x = ['ab', 'cd']

for i in x:
  print(i.upper())
print(x)

AB
CD
['ab', 'cd']

In [42]:
x = ['ab', 'cd']
for i in range(len(x)):
  print("i: -->", i)
  x.append(x[i].upper())
print(x)

i: --> 0
i: --> 1
['ab', 'cd', 'AB', 'CD']