<a href="https://colab.research.google.com/github/saiganesh00/Python-Practice/blob/main/Python_Class_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Dictonary Operations**

In [1]:
# Initialize a dictonary

d = {}
print(d)
print(type(d))

{}
<class 'dict'>

In [2]:
d = {1, 2, 3}
print(d)
print(type(d))

{1, 2, 3}
<class 'set'>

In [3]:
d = {'A': 1, 'B': 2, 'C': 3}
print(d)
print(type(d))

{'A': 1, 'B': 2, 'C': 3}
<class 'dict'>

In [4]:
d = dict()
print(d)
print(type(d))

{}
<class 'dict'>

In [5]:
d = dict([])
print(d)
print(type(d))

{}
<class 'dict'>

In [6]:
# Dictonary is ordered

d = {'A': 1, 'B': 2, 'C': 3}
print(d)
print(type(d))

{'A': 1, 'B': 2, 'C': 3}
<class 'dict'>

In [7]:
d = {'B': 2, 'A': 1, 'C': 3}
print(d)
print(type(d))

{'B': 2, 'A': 1, 'C': 3}
<class 'dict'>

In [8]:
# Indexing is done through keys

d = {'A': 1, 'B': 2, 'C': 3}
print(d)
print(type(d))

{'A': 1, 'B': 2, 'C': 3}
<class 'dict'>

In [9]:
print(d['A'])
print(d['B'])
print(d['C'])

1
2
3

In [11]:
for key in d:
  print(key, " --> ", d[key])

A  -->  1
B  -->  2
C  -->  3

In [12]:
# duplicates are not allowed
# 1,1.0,True are treated same
# 0,0.0, False are treated same

d = {1: 'A', 1.0: "F", True: 'B', 0: 'Z', 0.0: 'FZ', False: 'BZ'}
print(d)

{1: 'B', 0: 'BZ'}

In [13]:
d = {"1": "A", 1.0: "BZ", True: "B"}
print(d)

{'1': 'A', 1.0: 'B'}

In [14]:
d ={'A': 10, 'B': 20, 'A': 100}
print(d)

{'A': 100, 'B': 20}

In [18]:
a = "Shanmukh"

d = {a: 12}
print(d)

{'Shanmukh': 12}

In [19]:
a = "Srinivas"
print(d)

{'Shanmukh': 12}

In [20]:
d = {'A': 12, 'B': 12, 'C': 12}
print(d)

{'A': 12, 'B': 12, 'C': 12}

In [21]:
# Dictonary Methods

dict1 = dict(a = 10, b = 12, c = 50, d = [12, 20])
print(dict1)
print(type(dict1))

{'a': 10, 'b': 12, 'c': 50, 'd': [12, 20]}
<class 'dict'>

In [26]:
# copy

d1 ={'A': 10, 'B': 20, 'C': 100}
d2 = d1
print(d1)
print(id(d1))
print(d2)
print(id(d2))

{'A': 10, 'B': 20, 'C': 100}
137784894666944
{'A': 10, 'B': 20, 'C': 100}
137784894666944

In [27]:
print(d1)
d1['A'] = 100
print(d1)
print(id(d1))
print(d2)
print(id(d2))

{'A': 10, 'B': 20, 'C': 100}
{'A': 100, 'B': 20, 'C': 100}
137784894666944
{'A': 100, 'B': 20, 'C': 100}
137784894666944

In [28]:
print(d1)

d3 = d1.copy()
d1['A'] = 10
print(d1)
print(d3)

{'A': 100, 'B': 20, 'C': 100}
{'A': 10, 'B': 20, 'C': 100}
{'A': 100, 'B': 20, 'C': 100}

In [29]:
d1 = {'A': [10, 20, 30], 'B': 20, 'C': 30}
d2 = d1.copy()
print(d1)
print(d2)

d1['A'][1] = 100
print(d1)
print(d2)

{'A': [10, 20, 30], 'B': 20, 'C': 30}
{'A': [10, 20, 30], 'B': 20, 'C': 30}
{'A': [10, 100, 30], 'B': 20, 'C': 30}
{'A': [10, 100, 30], 'B': 20, 'C': 30}

In [31]:
# deepcopy()

import copy
d1 = {'A': [10, 20, 30], 'B': 20, 'C': 30}
d2 = copy.deepcopy(d1)
print(d1)
print(d2)

d1['A'][1] = 100
print(d1)
print(d2)

{'A': [10, 20, 30], 'B': 20, 'C': 30}
{'A': [10, 20, 30], 'B': 20, 'C': 30}
{'A': [10, 100, 30], 'B': 20, 'C': 30}
{'A': [10, 20, 30], 'B': 20, 'C': 30}

In [32]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = dict(d1)
print(d1)
print(d2)
d1['a'] = 100
print(d1)
print(d2)

{'a': 10, 'b': 20, 'c': 30}
{'a': 10, 'b': 20, 'c': 30}
{'a': 100, 'b': 20, 'c': 30}
{'a': 10, 'b': 20, 'c': 30}

In [35]:
d1 = {'a': [100,200,300], 'b': 20, 'c': 30}

d2 = dict(d1) # similar to d.copy() method


print(d1)
print(d2)

d1['a'][1] = 1000
print(d1)
print(d2)

{'a': [100, 200, 300], 'b': 20, 'c': 30}
{'a': [100, 200, 300], 'b': 20, 'c': 30}
{'a': [100, 1000, 300], 'b': 20, 'c': 30}
{'a': [100, 1000, 300], 'b': 20, 'c': 30}

In [36]:
d1 = {"a": 1, "b": 2}
print("d1")
print(d1)
print(id(d1))
d2 = d1
print("d2")
print(d2)
print(id(d2))
d3 = d1.copy()
print("d3")
print(d3)
print(id(d3))
d4 = dict(d1)
print("d4")
print(d4)
print(id(d4))

d1
{'a': 1, 'b': 2}
137784894681152
d2
{'a': 1, 'b': 2}
137784894681152
d3
{'a': 1, 'b': 2}
137784893620544
d4
{'a': 1, 'b': 2}
137785261643520

In [37]:
print(d1)
d1['b'] = 1000

print(d1)
print(d2)
print(d3)
print(d4)

{'a': 1, 'b': 2}
{'a': 1, 'b': 1000}
{'a': 1, 'b': 1000}
{'a': 1, 'b': 2}
{'a': 1, 'b': 2}

In [38]:
# Creating a dictonary using interables

d1 = dict([('a', 2), ('b', 3), ('c', 4)])
print(d1)

{'a': 2, 'b': 3, 'c': 4}

In [39]:
d1 = dict((('a', 2), ('b', 3), ('c', 4)))
print(d1)

{'a': 2, 'b': 3, 'c': 4}

In [40]:
d1 = dict([('a', [1, 2, 3]), ('b', 3), ('c', 4)])
print(d1)

{'a': [1, 2, 3], 'b': 3, 'c': 4}

In [41]:
d1 = dict([('a', [1, 2, 3]), ('b', 3), ('c', 4)], virat = 120)
print(d1)

{'a': [1, 2, 3], 'b': 3, 'c': 4, 'virat': 120}

In [42]:
d1 = dict([('a', [1, 2, 3]), ('b', 3), ('c', 4)], virat = 120, rohit = 100)
print(d1)

{'a': [1, 2, 3], 'b': 3, 'c': 4, 'virat': 120, 'rohit': 100}

In [44]:
## Creating dictonaries using fromkeys method --> default value is None

students = ['venky', 'viky', 'abi', 'sai', 'vasanth']
d = dict.fromkeys(students)
print(d)

{'venky': None, 'viky': None, 'abi': None, 'sai': None, 'vasanth': None}

In [45]:
students = ['venky', 'viky', 'abi', 'sai', 'vasanth']
d = dict.fromkeys(students, 0)
print(d)

{'venky': 0, 'viky': 0, 'abi': 0, 'sai': 0, 'vasanth': 0}

In [46]:
students = ['venky', 'viky', 'abi', 'sai', 'vasanth']
d = dict.fromkeys(students, [1, 2, 3])
print(d)

{'venky': [1, 2, 3], 'viky': [1, 2, 3], 'abi': [1, 2, 3], 'sai': [1, 2, 3], 'vasanth': [1, 2, 3]}

In [47]:
# keys and values in dictonary

d = {'a': [12, 20, 30], 'b': (20, 30, 40), 'c': {12, 30, 40}, 'd': {'A':1, 'B': 2}}
print(d)

{'a': [12, 20, 30], 'b': (20, 30, 40), 'c': {40, 12, 30}, 'd': {'A': 1, 'B': 2}}

In [49]:
# key in dictonary has to be immutable

d = {(1, 2, 3): 'tuple'}
print(d)

{(1, 2, 3): 'tuple'}

In [50]:
d = {[1, 2, 3]: 'list'}
print(d)

TypeError: unhashable type: 'list'

In [51]:
# list, set, dictionaries - are mutable (so it cannot be passed as a key)

d = {(12,30,[12,30]): "A"}
print(d)

TypeError: unhashable type: 'list'

In [53]:
d = {(12,30,(12,30)): "A"}
print(d)

{(12, 30, (12, 30)): 'A'}

In [54]:
d = {"a": 12, "b": 13, "c": 100}
print(len(d))

3

In [55]:
d = {"a": 12, "b": 13, "c": 100, 1:"A", "1": "ABC", 1.0:"2", False: "True"}
print(d)
print(len(d))

{'a': 12, 'b': 13, 'c': 100, 1: '2', '1': 'ABC', False: 'True'}
6

In [56]:
# keys(), values(), items()

d = {"Virat": 55.4, "Rohit": 46.9, "Sachin": 60.9}

print(d.keys())
print(d.values())
print(d.items())

dict_keys(['Virat', 'Rohit', 'Sachin'])
dict_values([55.4, 46.9, 60.9])
dict_items([('Virat', 55.4), ('Rohit', 46.9), ('Sachin', 60.9)])

In [57]:
for key in d.keys():
  print("Key ---> ", key)

Key --->  Virat
Key --->  Rohit
Key --->  Sachin

In [59]:
for val in d.values():
  print("Value ---> ", val)

Value --->  55.4
Value --->  46.9
Value --->  60.9

In [60]:
for item in d.items():
  print("Items ---> ", item)

Items --->  ('Virat', 55.4)
Items --->  ('Rohit', 46.9)
Items --->  ('Sachin', 60.9)

In [61]:
for key, val in d.items():
  print("Key --> ", key, "Value --> ", val)

Key -->  Virat Value -->  55.4
Key -->  Rohit Value -->  46.9
Key -->  Sachin Value -->  60.9

In [70]:
# Accessing a value in dictonary

d = {"Virat": 55.4, "Rohit": 46.9, "Sachin": 60.9}
print(d)

{'Virat': 55.4, 'Rohit': 46.9, 'Sachin': 60.9}

In [71]:
d['Virat']

55.4

In [72]:
d['Sky']

KeyError: 'Sky'

In [73]:
# get() method

d = {"Virat": 55.4, "Rohit": 46.9, "Sachin": 60.9}

d.get('Virat')

55.4

In [74]:
d.get('Sky')

In [75]:
x = d.get('Sky')
print(x)

None

In [76]:
d.get("Sky", -1) # get(key, default_val)

-1

In [77]:
d.get("Sky", "Key Not Found") # get(key, default_val)

'Key Not Found'

In [78]:
# Modifying a dictonary

d = {"Virat": 55.4, "Rohit": 46.9, "Sachin": 60.9}
print(d)

{'Virat': 55.4, 'Rohit': 46.9, 'Sachin': 60.9}

In [79]:
print(d)
d['Virat'] = [1, 2, 3]
print(d)

{'Virat': 55.4, 'Rohit': 46.9, 'Sachin': 60.9}
{'Virat': [1, 2, 3], 'Rohit': 46.9, 'Sachin': 60.9}

In [80]:
'Virat' in d

True

In [81]:
'Virat' not in d

False

In [82]:
'Sky' in d

False

In [83]:
'Sky' not in d

True

In [84]:
d = {"Virat": "Sky", "Rohit": "Pant"}

"Sky" in d

False

In [85]:
"Sky" in d.values()

True

In [86]:
# update() method

dict1 = {'name': 'Ram Charan', 'age': 33, 'profession': 'actor'}
print(dict1)

{'name': 'Ram Charan', 'age': 33, 'profession': 'actor'}

In [89]:
print(dict1)
dict1.update(name = 'RC', age = 32)
print(dict1)

{'name': 'Ram Charan', 'age': 33, 'profession': 'actor'}
{'name': 'RC', 'age': 32, 'profession': 'actor'}

In [94]:
my_dict = {"name": "Venky", "age": 26, "profession": "teaching"}
print(my_dict)
other_dict = {"salary": 1000, "education": "Mtech"}
print(other_dict)
my_dict.update(other_dict)
my_dict

{'name': 'Venky', 'age': 26, 'profession': 'teaching'}
{'salary': 1000, 'education': 'Mtech'}

{'name': 'Venky',
 'age': 26,
 'profession': 'teaching',
 'salary': 1000,
 'education': 'Mtech'}

In [93]:
my_dict

{'name': 'Venky',
 'age': 26,
 'profession': 'teaching',
 'salary': 1000,
 'education': 'Mtech'}

In [95]:
d = {'a': [1, 2]}
print(d)
d['a'].append(3)
print(d)

{'a': [1, 2]}
{'a': [1, 2, 3]}

In [96]:
my_dict = {"name": "Venky", "age": 26, "profession": "teaching"}
print(my_dict)
other_dict = (("salary", 1000), ("education", "Mtech"))
print(other_dict)
my_dict.update(other_dict)
my_dict

{'name': 'Venky', 'age': 26, 'profession': 'teaching'}
(('salary', 1000), ('education', 'Mtech'))

{'name': 'Venky',
 'age': 26,
 'profession': 'teaching',
 'salary': 1000,
 'education': 'Mtech'}

In [97]:
# del method
print(my_dict)
del my_dict['salary']
print(my_dict)

{'name': 'Venky', 'age': 26, 'profession': 'teaching', 'salary': 1000, 'education': 'Mtech'}
{'name': 'Venky', 'age': 26, 'profession': 'teaching', 'education': 'Mtech'}

In [98]:
del my_dict

In [99]:
my_dict

NameError: name 'my_dict' is not defined

In [100]:
my_dict = {"name": "Venky", "age": 26, "profession": "teaching"}
print(my_dict)

{'name': 'Venky', 'age': 26, 'profession': 'teaching'}

In [101]:
my_dict.clear()

In [102]:
my_dict

{}

In [103]:
other_dict = ["salary", 10000], ["education", "btech"]

In [104]:
other_dict

(['salary', 10000], ['education', 'btech'])