<a href="https://colab.research.google.com/github/saiganesh00/Python-Practice/blob/main/Python_Class_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Range**

- **Syntax: range(start, stop, step)**
- **Default value of 'start' is 0**
- **Default value of 'step' is 1**

In [1]:
range_val = range(0, 5)
print(range_val)
print(type(range_val))

range(0, 5)
<class 'range'>

In [2]:
list(range_val)

[0, 1, 2, 3, 4]

In [5]:
range_val_2 = range(10, 15)
list(range_val_2)

[10, 11, 12, 13, 14]

In [4]:
range_val_3 = range(10, 29, 3)
list(range_val_3)

[10, 13, 16, 19, 22, 25, 28]

In [7]:
range_val_4 = range(-5)
list(range_val_4)

[]

In [8]:
range_val_5 = range(-5, 0)
list(range_val_5)

[-5, -4, -3, -2, -1]

In [9]:
range_val_6 = range(0, -6, -1)
list(range_val_6)

[0, -1, -2, -3, -4, -5]

## **Set**
- **A set is a collection of unordered and unindexed data type**
- **A set is unchangeble**
- **Duplicates are not allowed int set**
- **Defined by using "{}"**

In [10]:
set_1 = {1, 2, 3, 4, 5}
print(set_1)
print(type(set_1))

{1, 2, 3, 4, 5}
<class 'set'>

In [12]:
set_2 = set((1, 2, 3, 4, 5))
print(set_2)
print(type(set_2))

{1, 2, 3, 4, 5}
<class 'set'>

In [15]:
# Set is unordered

set_3 = {1, 2, 3, 2.5, 1.5, "Virat", "Rajini", "RBR"}
print(set_3)

{1, 2, 2.5, 3, 1.5, 'RBR', 'Rajini', 'Virat'}

In [16]:
# Set is unindexed

set_3[0]

TypeError: 'set' object is not subscriptable

In [17]:
2 == 2.0

True

In [18]:
set_4 = {1, 1.0, 2, 2.0, 3, 3.0}
print(set_4)

{1, 2, 3}

In [19]:
print(set_3)
set_3.add("Virat")
print(set_3)

{1, 2, 2.5, 3, 1.5, 'RBR', 'Rajini', 'Virat'}
{1, 2, 2.5, 3, 1.5, 'RBR', 'Rajini', 'Virat'}

In [20]:
set_3.add("Rajini")
print(set_3)

{1, 2, 2.5, 3, 1.5, 'RBR', 'Rajini', 'Virat'}

In [21]:
set_3.add("Vijay")
print(set_3)

{1, 2, 2.5, 3, 1.5, 'RBR', 'Vijay', 'Rajini', 'Virat'}

In [22]:
True == 1

True

In [23]:
False == 0

True

In [24]:
set_5 = {"Virat", "123", 1, 12, 1.3, True, False, 0.5}
print(set_5)

{False, 1, 1.3, 0.5, 12, '123', 'Virat'}

In [25]:
set_5 = {"Virat", "123", True, 12, 1.3, 1, False, 0.5}
print(set_5)

{False, True, 1.3, 0.5, 12, '123', 'Virat'}

In [28]:
set_5[0] = "Scahin"

TypeError: 'set' object does not support item assignment

In [26]:
# Mutability of set

set_a = {1, 2, 5, 9, 10.2, "Kamal", "Gayle"}
print(id(set_a))

135602014493760

In [27]:
set_a.add("Sachin")
print(id(set_a))

135602014493760

In [29]:
set_b = {"1", "2", 1.2}
print(set_b)

{'2', '1', 1.2}

In [30]:
set_b.add([1, 2, 3]) # List cannot be added to a set

TypeError: unhashable type: 'list'

In [32]:
set_b.add((1, 2, 3))  # tuple can be added to a set
print(set_b)

{'2', '1', 1.2, (1, 2, 3)}

In [33]:
# Tuples are immutable

tuple1 = (1, 2, 4)
print(id(tuple1))
tuple1.add(5)
print(id(tuple1))

135602014389824

AttributeError: 'tuple' object has no attribute 'add'

## **Frozen Set**
- **Unordered**
- **Duplicates not allowed**
- **Immutable**

In [34]:
frozen_set_1 = frozenset((1, 2, 1.0, "KKR", "CSK", "MI"))
print(frozen_set_1)
print(type(frozen_set_1))

frozenset({1, 2, 'KKR', 'MI', 'CSK'})
<class 'frozenset'>

## **Dictonary**
- **Dictonaries are used to store data value in key value pairs**
- **A dictonary is a collection which is ordered, changeble and do not allow duplicates**

In [36]:
scores = {"A": 65, "B": 45, "C": 43, "D": 23}
print(scores)
print(type(scores))
print(id(scores))

{'A': 65, 'B': 45, 'C': 43, 'D': 23}
<class 'dict'>
135601647466752

In [39]:
scores.update({"E": 55})
print(scores)
print(id(scores))

{'A': 65, 'B': 45, 'C': 43, 'D': 23, 'E': 55}
135601647466752

In [40]:
scores["A"]

65

In [41]:
print(scores)
scores.update({"E": 12})
print(scores)

{'A': 65, 'B': 45, 'C': 43, 'D': 23, 'E': 55}
{'A': 65, 'B': 45, 'C': 43, 'D': 23, 'E': 12}

In [42]:
dict_a = {"Virat": [55, 65, 50, 70], "Rohit": [70, 65, 78, 80]}
print(dict_a)

{'Virat': [55, 65, 50, 70], 'Rohit': [70, 65, 78, 80]}

In [44]:
dict_b = {"Virat": (55, 65, 50, 70), "Rohit": (70, 65, 78, 80)}
print(dict_b)

{'Virat': (55, 65, 50, 70), 'Rohit': (70, 65, 78, 80)}

In [45]:
# Only immutable data types are allowed to be a key

dict_c = {(1, 3): "str", 2 : 4}
print(dict_c)

{(1, 3): 'str', 2: 4}

In [46]:
dict_d = {frozenset((1, 3)): "str", 2 : 4}
print(dict_d)

{frozenset({1, 3}): 'str', 2: 4}

## **Boolean**
- **Allowed either "True" or "False"**

In [48]:
print(bool(False))
print(bool(0))
print(bool(0.0))
print(bool(None))

False
False
False
False

In [49]:
print(bool(True))
print(bool(1))
print(bool(1.0))
print(bool("String"))
print(bool([1, 2]))
print(bool((1, 2)))

True
True
True
True
True
True

In [50]:
bool('0')

True

In [51]:
print(bool([]))
print(bool(()))
print(bool({}))
print(bool(""))

False
False
False
False

In [52]:
print(bool(" "))

True

## **None**

In [54]:
a = None
print(type(a))

<class 'NoneType'>

In [56]:
name = input("Enter your name: ")
print(name)
print(type(name))

Enter your name: Shanmukh
Shanmukh
<class 'str'>

In [57]:
marks = input("Enter Your Marks: ")
print(marks)
print(type(marks))

Enter Your Marks: 23
23
<class 'str'>

In [58]:
marks = int(input("Enter Your Marks: "))
print(marks)
print(type(marks))

Enter Your Marks: 23
23
<class 'int'>